{% extends 'base.html.twig' %}

{% set page_title = 'Help' %}

{% block content %}

    <h2>Github Permissions Fix</h2>

    <p>If you are a collaborator on a Github repository, but are unable to build or push the code in HAL 9000, then you may need to make the following changes.</p>

    <section class="help-walkthrough">
        <h3>Step 1</h3>
        <p>Open a web browser, go to <a href="http://git">http://git</a>, and navigate to the organization that contains the repository you are trying to build or push.
        For example, to change the 'IT Team Galactica' settings, the URL would be <a href="http://git/IT-Team-Galactica">http://git/IT-Team-Galactica</a></p>

        <img src="/img/help/github-permissions/step1.png" alt="Step 1" />
    </section>

    <section class="help-walkthrough">
        <h3>Step 2</h3>
        <p>On the right side of the page, find the 'People' widget and click the 'People' link at the top.</p>

        <img src="/img/help/github-permissions/step2.png" class="help-step" alt="Step 2" />
    </section>

    <section class="help-walkthrough">
        <h3>Step 3</h3>
        <p>On the organization membership page, find your name.</p>

        <img src="/img/help/github-permissions/step3.png" class="help-step" alt="Step 3" />
    </section>

    <section class="help-walkthrough">
        <h3>Step 4</h3>
        <p>On the right side of the page, make sure your visibility is set to 'Public'. If it says 'Private', click on the drop down and change it to 'Public'.
        This change allows others (including HAL 9000) to see that you are a member of this organization.</p>

        <img src="/img/help/github-permissions/step4.png" class="help-step" alt="Step 4" />
    </section>

    <section class="help-walkthrough">
        <h3>Step 5</h3>
        <p>Once 'Public' has been selected next to your name, you should be all set. Please note that you will need to make this change for every organization
        you wish to build or push code from.</p>

        <img src="/img/help/github-permissions/step5.png" class="help-step" alt="Step 5" />
    </section>
{% endblock %}
