// Modular Scale
$ms-base: 1em 1.5em;
$ms-ratio: $fourth;

// Typography
$font-unit: 1em;
$base-font-size: 1.1em;
$base-line-height: 1.4em;
$heading-font-stack: helvetica, arial, sans-serif;
$sans-serif-font-stack: "Helvetica Neue", helvetica, arial, sans-serif;

$min-line-padding: .1em;

// Scales - buttons
$btn-text-color: $white;
$btn-background-color: $blue;
$btn-border-color: shade($blue, 20%);
$btn-border-width: 1px;

$btn-hover-background-color: tint($blue, 10%);
$btn-hover-text-color: $white;

// Scales - tables

$table-stripe-color: $light-grey;

// Headings
$h1-size: ms(5);
$h2-size: ms(4);
$h3-size: ms(3);
$h4-size: ms(2);
$h5-size: ms(1);
$h6-size: ms(0);

// Breakpoints
$bp-large: 60em;
$bp-medium: 40em;
$bp-small: 32em;
