{% extends 'base.kraken.twig' %}

{% set page_title = 'Kraken' %}

{% block content %}

    <h1>Kraken</h1>

    <ul class="list--bullet">
        <li><a href="{{ urlFor('kraken.applications') }}">Applications</a></li>
        <li><a href="{{ urlFor('kraken.environments') }}">Environments</a></li>
    </ul>

    {% for item in test %}
        <pre class="leader">{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    {% endfor %}

{% endblock %}
