{% extends 'base.kraken.twig' %}

{% set page_title = 'Kraken' %}

{% block content %}

    <h1>Kraken</h1>

    <h2>What is this</h2>
    <p>help help help</p>

    <h2>Get out of here</h2>
    <ul class="list--bullet">
        <li><a href="{{ urlFor('kraken.applications') }}">Applications</a></li>
        <li><a href="{{ urlFor('kraken.environments') }}">Environments</a></li>
    </ul>
{% endblock %}
