{% extends 'base.kraken.twig' %}

{% set page_title = 'Kraken' %}

{% block content %}

    <h1>Kraken</h1>

    <h2>What is this</h2>
    <p>help help help</p>

    <ul class="button-list">
        <li><a class="btn" href="{{ urlFor('kraken.applications') }}">Kraken Applications</a></li>
        <li><a class="btn" href="{{ urlFor('kraken.environments') }}">Kraken Environments</a></li>
    </ul>

{% endblock %}
