{% extends 'base.html.twig' %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set js_components = ["deployment.add"] %}

{% set page_title = 'Add Deployment : ' ~ repository.name %}

{% block content %}
    <h1>Add Deployment - <strong>{{ repository.name }}</strong></h1>

    <p>
        Deployment relationships define what servers your application can be deployed to and where on that server the code will be placed.
    </p>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        {% include '_partial-form/add-deployment.twig' with {'servers_by_env': servers_by_env, 'form': form, 'repository': repository} %}
    </div>

{% endblock %}
