{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",

    "globals": {
        "document": true,
        "window": true,
        "module": true,
        "console": true,
        "$": true,
        "clearInterval": true,
        "moment": true,
        "require": true
    },

    "rules": {
        "no-console": 0
    }
}
