# ide artifacts
/.idea
*.swp
.DS_Store
.sublime-workspace
atlassian-ide-plugin.xml

# testing
/.phpunit/
/phpunit.xml
/phpunit

# compiled assets
/.bundle/
/.sass-cache/
/js/require-config.json
/public/css/
/public/img/
/public/js/
npm-debug.log
public/style.css

# package installation
/bin/composer
/bower_components/
/node_modules/
/vendor/

# compiled configuration
/app/config.env.yml
/src/CachedContainer.php

# deployment caches
/.doctrine/
/.twig/

# misc
/.vagrant
