# ide artifacts
/.idea
*.swp
.DS_Store
.sublime-workspace
atlassian-ide-plugin.xml

# testing
/.phpunit/
/phpunit.xml

# compiled assets / package installation
/.bundle/
/.sass-cache/
/bin/sass
/bin/sass-convert
/bin/scss
/bower_components/
/js/require-config.json
/node_modules/
/public/css/
/public/img/
/public/js/
/vendor/

# compiled configuration
/app/config.env.yml
/src/CachedContainer.php

# deployment caches
/.doctrine/
/.twig/

# misc
/.vagrant
