# ide artifacts
/.idea
*.swp
.DS_Store
.sublime-workspace
atlassian-ide-plugin.xml

# testing
/.phpunit/
/phpunit.xml

# compiled assets / package installation / deployment
/.bundle/
/.sass-cache/
/.twig/
/bin/sass
/bin/sass-convert
/bin/scss
/bower_components/
/node_modules/
/public/css/
/public/img/
/public/js/
/vendor/

# compiled configuration
/configuration/config.env.yml
/src/CachedContainer.php

# doctrine cache
/app/cache/*

# misc
/.vagrant
