; Copy this to conf.ini and change values accordingly

[db]

; The DSN for the database connection.
; See http://us1.php.net/manual/en/ref.pdo-mysql.connection.php for details.
dsn = "mysql:unix_socket=/tmp/mysql.sock;dbname=hal;charset=utf8"

; The username for the database connection.
user = "root"

; The password for the database connection.
pass = ""

[push]

; The UNIX username to run builds as
build_user = "mnagi"

; The UNIX username to ssh as for rsyncing and post-push script execution
ssh_user = "mnagi"

[github]
; The API Token provided by a GitHub account to access the API
api_token = ""

; The base URL for the GitHub API
base_url = "http://git/api/v3/"
