<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">

    <rule ref="PSR2">
        <exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingBeforeClose"/>
        <exclude name="PSR2.ControlStructures.ControlStructureSpacing.SpacingAfterOpenBrace"/>
        <exclude name="PSR2.Namespaces.UseDeclaration.MultipleDeclarations"/>
    </rule>

    <exclude-pattern type="relative">^tests/*</exclude-pattern>

</ruleset>
