parameters:
    ignoreErrors:
        - '#Hal\\Core\\Type\\GroupEnum#'
        - '#Hal\\Core\\Entity\\Group#'
    excludes_analyse:
        - %rootDir%/../../../src/Controllers/Group/*
        - %rootDir%/../../../src/Controllers/API/*
