<?xml version="1.0"?>
    <phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="true"
        printerClass="PHPUnit_TextUI_ResultPrinter"
        processIsolation="false"
        stopOnError="true"
        stopOnFailure="true"
        stopOnIncomplete="true"
        stopOnSkipped="true"

        beStrictAboutTestsThatDoNotTestAnything="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestSize="true"
        checkForUnintentionallyCoveredCode="true"

        timeoutForSmallTests="5"
        verbose="true">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>

    <logging>
        <!--
        <log type="coverage-html" target=".phpunit/php-code-coverage" charset="UTF-8" highlight="true" lowUpperBound="98" highLowerBound="99" />
        -->
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>

    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="32767" />
        <ini name="memory_limit" value="1G" />
    </php>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
