.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}

.maxch-10 {
    max-width: 10ch;
    @include limit-overflow-text();
}

.maxch-20 {
    max-width: 20ch;
    @include limit-overflow-text();
}

.maxch-30 {
    max-width: 30ch;
    @include limit-overflow-text();
}
