.tl {
    text-align: left;
}
.tr {
    text-align: right;
}

.sticky-version {
    color: transparent;
    font-size: 50%;
    line-height: 100%;

    left: 0;
    top: 0;
    position: absolute;
}

.trailer { @include trailer(); }
.trailer--napolean { @include trailer(.5); }
.trailer--andre { @include trailer(2); }

.leader { @include leader(); }
.leader--napolean { @include leader(.5); }
.leader--andre { @include leader(2); }

.fixed-size-label {
    display: inline-block;
    min-width: 10em;
}

.fixed-nobreak {
    white-space: nowrap;
}

.tooltipped-expand {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 $body-font;
  color: $tooltip-text-color;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: $tooltip-background-color;
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
}
