<tr id="{{ buildId }}">
    <td>
        <a href="{{ buildUrl }}">Build</a>
    </td>
    <td>
        <a href="{{ appStatusUrl }}">{{ appName }}</a>
    </td>
    <td>
        <span class="{{ buildStatusStyle }}" data-build="{{ buildId }}">{{  buildStatus }}</span>
    </td>
    <td>{{ environmentName }}</td>
    <td>
        <a href="{{ referenceUrl }}">{{ reference }}</a>
        <svg class="icon"><use xlink:href="#{{ referenceType }}"></use></svg>
    </td>
    <td>{{ initiator }}</td>
</tr>
