<tr id="{{ uniqueId }}">
    <td>
        <a href="{{ buildUrl }}">Build</a>
    </td>
    <td>
        <a href="{{ repoUrl }}/status">{{ repoName }}</a>
    </td>
    <td>
        <span class="status-before--{{ buildStatusStyle }}" data-build="{{ buildId }}">{{  buildStatus }}</span>
    </td>
    <td>{{ environmentName }}</td>
    <td>
        <a href="{{ referenceUrl }}">{{ reference }}</a>
        <span class="icon">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#github"></use>
            </svg>
        </span>
    </td>
    <td>{{ initiator }}</td>
</tr>
