{% extends 'base.html.twig' %}

{% set page_title = 'Deployment Pools : ' ~ application.name %}

{% block content %}
    <h1>Deployment Pools - <strong>{{ application.name }}</strong> </h1>

    <p><a class="btn btn--small btn--back" href="{{ urlFor('application', {'application': application.id}) }}">Back to Application</a></p>

    <p>
        Deployment targets define what servers your application can be deployed to and where on that server the code will be uploaded.
    </p>

{% endblock %}
