<html>
<head>
<title>gitbert2</title>
<script src="../js/jquery-1.10.2.min.js" language="javascript"></script>
<script language="javascript">
    function get_deployment_status(deployment_id) {
        $.get('../index.php/push/deployment_status/' + deployment_id, function(result) {
            console.log(result);
        });
    }
</script>
</head>
<body>
  <a href="">View only my repositories</a><br>
<h1>Current Deployments:</h1>
<table border="1">
    <tr>
        <td>&nbsp;</td>
    {% for server in servers %}
        <td>{{ server.HostName }}</td>
    {% endfor %}
    </tr>
    {% for repository in repositories %}
    <tr>
        <td>{{repository.ShortName}}</td>
        {% for server in servers %}
            {% set deployment_index = server.ServerId ~ '_' ~ repository.RepoId %}
            <td id="deployment_{{deployments[deployment_index].DeploymentId}}">{{deployments[deployment_index].CurBranch}}</td>
            <script language="javascript">
                get_deployment_status('{{deployments[deployment_index].DeploymentId}}');
            </script>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
</body>
</html>
