.error {
    text-align: center;
}

.flash {
    background-color: #d9edf7;
    padding: 5px;
    margin-bottom: 1.5em;
}

.flash .flash-message {
    display: block;
    padding: 5px;
    font-weight: bold;
}

.nav--admin { max-width: 60em; margin: 0 auto; background-color: #748e8e; height: 100%; }

.nav--admin li a { text-align: center; border-bottom: 1px solid #fdfef3; padding-top: 0.75em; padding-bottom: 0.75em; color: #fdfef3; background-color: #748e8e; }

.nav--admin li a:hover { text-decoration: none; background-color: #fdfef3; color: #78a8c0; border-bottom: 1px solid #748e8e; }

.nav--admin li:first-child a { padding-top: 0.75em; border-top: 1px solid #fdfef3; }

@media (min-width: 30.0625em) {
    [class*="nav"] > li, [class*="nav"] > li > a { display: inline-block; }

    .nav--admin li a { border-bottom: 0.4em solid #748e8e; padding-bottom: 0.375em; padding-left: 1.11111em; padding-right: 1.11111em; }

    .nav--admin li a:hover { border-bottom: 0.4em solid #fdfef3; padding-bottom: 0.375em; }

    .nav--admin li:first-child a { border-top: 0; }
}
#footer {
    padding-top: 0.75em;
}

#footer p {
    font-size: 65%;
    margin-bottom: 0.75em;
}

.pages {
    text-align: center;
}

.pages .spacing {
    margin-left: 1em;
    margin-right: 1em;
}

.pages .disabled {
    color: #808080;
}

.circle {
    display: inline-block;
    background: #808080;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
    border-radius: 50%;
}

.circle-red {
    background: red;
}

.circle-orange {
    background: orange;
}

.circle-green {
    background: green;
}

.env-row-test {
    /*background: #f5f5ff;*/
    border-left: 5px solid #c200cd;
}

.env-row-beta {
    /*background: #f5fff5;*/
    border-left: 5px solid #008ecd;
}

.env-row-prod {
    /*background: #fff5f5;*/
    border-left: 5px solid #cd9c00;
}

.js-form-toggle {
    display: block;
}

.js-form-error {
    color: red;
    margin-bottom: 0;
}

.select-input {
    width: 100%;
    font-size: 1.11111em;
    line-height: 1.35em;
    padding: 0.675em;
    background: #f5f5f5;
    -webkit-box-shadow: inset 0 5px 2px rgba(0, 0, 0, 0.05), inset 0 1px 0 #999999, inset 1px 0px 0 #999999, inset -1px 0px 0 #999999, inset 0px -1px 0 #999999;
    -moz-box-shadow: inset 0 5px 2px rgba(0, 0, 0, 0.05), inset 0 1px 0 #999999, inset 1px 0px 0 #999999, inset -1px 0px 0 #999999, inset 0px -1px 0 #999999;
    box-shadow: inset 0 5px 2px rgba(0, 0, 0, 0.05), inset 0 1px 0 #999999, inset 1px 0px 0 #999999, inset -1px 0px 0 #999999, inset 0px -1px 0 #999999;
    border-radius: 4px;
}
