.error {
    text-align: center;
}

.flash {
    background-color: #d9edf7;
    padding: 5px;
    margin-bottom: 1.5em;
}

.flash .flash-message {
    display: block;
    padding: 5px;
    font-weight: bold;
}
