code {
    color: $red;
    background: $light-grey;
    padding: .2em;
}

// used for fake the look of code, but allow text overflow protection
.fake-code {
    color: $red;
    background: $light-grey;
    font-family: menlo, monospace, sans-serif;
}

pre {
    color: $red;
    background: $light-grey;
    padding: .2em;

    @include adjust-font-size-to(ms(-2));
    text-align: left;

    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
}

pre.line-wrap {
    white-space: pre-line;
}

.pre-ansi pre {
    background: black;
}
.pre-solarized pre {
    background: #073642;
}

// this is stupid
.pre-wrapper {
    display: table;
    table-layout: fixed;

    width: 100%;

    margin: 0;
    padding: 0;
}
