code {
    color: $red;
    background: $light-grey;
    padding: .2em;
}

pre {
    color: $red;
    background: $light-grey;
    padding: .2em;

    @include adjust-font-size-to(ms(-2));
    text-align: left;

    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
}

// this is stupid
.pre-wrapper {
    display: table;
    table-layout: fixed;

    width: 100%;

    margin: 0;
    padding: 0;
}
