.error-page {
    background: radial-gradient(ellipse at center, #4c4c4c, #000000 100%);
    min-height: 600px;
}

.error-page .eye {
    background: url(/img/eye.png) no-repeat center center;
    background-size: 13em;
    min-height: 20em;
}
