.text-input,
.select-input,
textarea {
    width: 100%;
    @include adjust-font-size-to(ms(1));
    padding: rhythm(.5, ms(1));
    background: #fff;
    box-shadow: inset 0 2px 0 $grey, inset 2px 0px 0 $grey, inset -2px 0px 0 $grey, inset 0px -2px 0 $grey;
    &:focus {
        box-shadow: inset 0 2px 0 $blue, inset 2px 0px 0 $blue, inset -2px 0px 0 $blue, inset 0px -2px 0 $blue;
    }
}

.text-input:disabled {
    background: $light-grey;
}

legend {
    @include adjust-font-size-to(ms(4));
}

.error-list {
    background: $error-color;
    margin-left: 0;
    padding: 0 msem(4);
    @include rhythm(0, .5, .5, .5);
    color: $white;
}

select {
    width: 100%;
    border: 1px solid $grey;
}

.form-wrapper {
    @include breakpoint(37.125em) {
        max-width: 28em;
    }
}

.checkbox--pretty {
    @include trailer();
}

.checkbox--pretty .flavor {
    @include adjust-font-size-to(ms(-1));
}

.checkbox--pretty input {
    display: none;
}

.checkbox--pretty .checkbox__on {
    color: $success-color;
    top: 2px;
}

.checkbox--pretty .checkbox__off {
    color: $error-color;
    top: 2px;
}

.checkbox--pretty .checkbox__off,
.checkbox--pretty input:checked ~ .checkbox__on {
    display: inline;
}

.checkbox--pretty .checkbox__on,
.checkbox--pretty input:checked ~ .checkbox__off {
    display: none;
}

.deployment-form {
    clear: right;
}
