table {
    min-width: 17em;
}

thead {
    border-bottom: 5px solid $dark-blue;
}

tbody tr {
    border-bottom: 1px dotted $light-grey;
    @include adjust-font-size-to(ms(-1));
}

.table-breathe::before
{
    content: '';
    display: block;
    height: 1em;
}

th.table-mid-header {
    @include adjust-font-size-to(ms(2));

    background: $bright-blue;
    border: 3px solid #357793;

    color: white;
    font-weight: bold;
    padding: 0 5px;
    margin : 5px;

    .icon--link {
        float: right;
    }
}
