table {
    min-width: 17em;
}

thead {
    border-bottom: 5px solid $dark-blue;
}

tbody tr {
    border-bottom: 1px dotted $light-grey;
    @include adjust-font-size-to(ms(-1));
}

th.table-mid-header {
    @include adjust-font-size-to(ms(2));

    background: $bright-blue;
    color: white;
    font-weight: bold;
    padding: 0 5px;
}
