{% extends 'base.html.twig' %}

{% set page_title = "Servers" %}

{% block content %}
    <h2>Servers</h2>

    <table>
        <thead>
        <tr>
            <th>Environment</th>
            <th>Servers</th>
        </tr>
        </thead>
        <tbody>
            {% if server_count %}

                {% for env, servers in server_environments %}
                    {% if servers %}
                        <tr>
                            <td>{{ env }}</td>
                            <td>
                                <ul class="col-list">
                                    {% for server in servers %}
                                        <li><a href="{{ urlFor('server', {'id': server.id}) }}">{{ server.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="2">There are no servers.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <div>
        {# primary action #}
        {% if isUserAdmin(currentUser) %}
            <a class="btn" href="{{ urlFor('server.admin.add') }}">Add Server</a>
        {% endif %}
    </div>
{% endblock %}
