
$btn-color-transparent: rgba(255, 255, 255, .1);

@mixin btn-color($color, $hover: true) {
    background-color: $color;
    border-color: shade($color, 20%);

    box-shadow:
        0 -1px 0 0 $btn-color-transparent inset,
        0 4px  0 0 shade($color, 20%);

    @if $hover {
        &:hover {
            background-color: tint($color, 20%);
            box-shadow:
                0 -1px 0 0 $btn-color-transparent inset,
                0 2px  0 0 shade($color, 20%);
        }

        &:focus {
            color: tint($color, 20%);
            background-color: shade($color, 20%);
        }
    }
    @else {
        &:hover {
            color: $btn-text-color;
            background-color: $color;
            box-shadow:
                0 -1px 0 0 $btn-color-transparent inset,
                0 4px  0 0 shade($color, 20%);
            margin: 0;
        }

        &:focus {
            color: $btn-text-color;
        }
    }
}

.btn {
    @include btn-color($blue);

    svg {
        pointer-events: none;
    }

    &:hover {
        margin-top: 2px;
        margin-bottom: -2px;
    }
}

// Basic button modifiers
.btn--tiny {
    font-size: 90%;

    margin: 0;
    margin-top: -5px;
    padding: ms(-10) ms(-6);

    &:hover {
        margin-top:-3px;
        margin-bottom: -1px;
    }
}

.btn--small { font-size: .75em; }
.btn--large { font-size: 1.5em; }

// Button types
.btn--secondary {
    @include btn-color(tint($hal-cyan, 50%));
}

.btn--action {
    @include btn-color($warning-color);
}

.btn--destructive {
    @include btn-color($error-color);
}

.btn--disabled {
    @include btn-color($light-grey, false);
    color: shade($light-grey, 30%);
    cursor: not-allowed;

    &:hover {
        color: shade($light-grey, 30%);
    }
}

.btn--selected {
    @include btn-color($success-color);
}

.btn--not-selected {
    @include btn-color($grey);
}
