$btn-color-transparent: rgba(255, 255, 255, .1);

@mixin btn-color($color, $hover: true) {
    background-color: $color;
    border: 1px solid shade($color, 20%);

    box-shadow:
        0 -1px 0 0 $btn-color-transparent inset,
        0 4px  0 0 shade($color, 20%);

    @if $hover {
        &:hover {
            background-color: tint($color, 20%);
            box-shadow:
                0 -1px 0 0 $btn-color-transparent inset,
                0 2px  0 0 shade($color, 20%);
        }

        &:focus {
            color: tint($color, 20%);
            background-color: shade($color, 20%);
        }
    }
    @else {
        &:hover {
            color: $btn-text-color;
            background-color: $color;
            box-shadow:
                0 -1px 0 0 $btn-color-transparent inset,
                0 4px  0 0 shade($color, 20%);
            margin: 0;
        }

        &:focus {
            color: $btn-text-color;
        }
    }
}

.btn {
    -webkit-appearance: none;

    border-radius: 0;
    cursor: pointer;
    color: $btn-text-color;
    display: inline-block;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: .5em .75em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:hover {
        margin-top: 2px;
        margin-bottom: -2px;
    }

    @include btn-color($blue);

    svg {
        pointer-events: none;
    }
}

// Basic button modifiers
.btn[disabled] {
    @include btn-color($light-grey, false);
    color: shade($grey, 30%);
    cursor: not-allowed;

    &:hover {
        color: shade($grey, 30%);
    }
}

// Size
.btn--tiny {
    font-size: 90%;
    padding: .25em .5em;
}

.btn--small { font-size: .75em; }
.btn--large { font-size: 1.5em; }

// Button types
.btn--action {
    @include btn-color($warning-color);
}

.btn--destructive {
    @include btn-color($error-color);
}

// Button types
.btn--green {
    @include btn-color($green);
}

.btn--black {
    @include btn-color(#000000);
}

