.icon {
    display: inline-block;
    position: relative;

    top: -1px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.icon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin icon-color($color, $inverse: false) {
    @if $inverse {
        color: $white;
        background: $color;
        padding: 4px;
    }
    @else {
        color: $color;
    }
}

.icon--success {
    @include icon-color($success-color);
}

.icon--success-inverse {
    @include icon-color($success-color, true);
}

.icon--error {
    @include icon-color($error-color);
}

.icon--error-inverse {
    @include icon-color($error-color, true);
}

.icon--info {
    @include icon-color($info-color);
}

.icon--info-inverse {
    @include icon-color($info-color, true);
}

.icon--warning {
    @include icon-color($warning-color);
}

.icon--warning-inverse {
    @include icon-color($warning-color, true);
}
