
.nav--main {
    justify-content: space-between;
}

.nav--main-signed-out {
    justify-content: flex-start;
}

.nav--main,
.nav--main-signed-out {

    height: 100%;
    list-style: none;
    margin: 0 auto;

    @include breakpoint($bp-small) {
        display: flex;
        flex-wrap: wrap;
        max-width: 60em;
    }

    li {
        border-top: 1px dotted $grey;

        &:first-child { border-top: 0; }

        a {
            color: $white;
            background-color: $text-color;
            display: block;
            font-size: .8em;
            text-decoration: none;

            padding: 0 .5em;
            margin: auto;

            .icon {
                margin-right: .25em;

                @include breakpoint($bp-small) {
                    display: block;
                    margin: 0 auto .25em;
                    width: 20px;
                    height: 20px;
                }

                @include breakpoint($bp-medium) {
                    width: 25px;
                    height: 25px;
                }
            }

            &:hover {
                text-decoration: none;
                background-color: $highlight-color;
                color: $text-color;
            }

            @include breakpoint($bp-small) {
                font-size: .6em;
                padding: 0;
                padding-top: .5em;
                text-align: center;

                min-width: 3em;
                max-width: 6em;
            }

            @include breakpoint($bp-medium) {
                font-size: .8em;
            }
        }

        @include breakpoint($bp-small) {
            border-top: 0;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
    }
}

@include breakpoint($bp-small) {
    .nav--main-signed-out {
        li {
            flex-grow: 0;
            width: 6em;
        }
    }
}

.nav--page {
    margin-bottom: 1em;

    h1, .nav--page__back {
        margin-bottom: .25em;
    }

    @include breakpoint($bp-medium) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: .25em;

        h1 { flex: 1 0 auto; }
        .nav--page__back { flex: 0 1 auto; }
    }
}

