.radio-grid__env {
    text-align: center;
}

.radio-grid > li {
    width: 100%;
    margin-bottom: 1em;
}

.radio-grid--two > li {
    @include breakpoint($bp-large) {
        &:nth-child(even) {
            margin-left: 1em;
        }

        flex: 1 0 40%;
        max-width: 47%;
    }
}

.radio-grid--tri > li {
    @include breakpoint($bp-large) {
        &:nth-child(3n+2) {
            @include margin-x(1em);
        }

        flex: 1 0 30%;
        max-width: 32%;
    }
}

.radio-grid--four > li {
    @include breakpoint($bp-large) {
        &:nth-child(4n+2) {
            @include margin-x(1em);
        }
        &:nth-child(4n+3) {
            margin-right: 1em;
        }

        flex: 1 0 20%;
        max-width: 23%;
    }
}

.radio-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li.full {
        width: 100%;
    }

    input[type="radio"] {
        display: none;
    }

    label,
    .radio-grid--fake-item {
        border: 1px solid $light-grey;
        transition: background-color 1s ease;
        padding: msem(-4);
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .radio-grid--fake-item {
        display: block;
    }

    label:hover,
    .radio-grid--fake-item:hover {
        background-color: $lightest-grey;
    }

    input[type="radio"]:checked + label,
    .radio-grid--fake-selected-item {
        background-color: $highlight-color;
    }
}

