.scrollable-box {
    @include adjust-font-size-to(ms(-1));

    table {
        .code_fixed {
            width: 300px;
        }
    }

    @include breakpoint($bp-medium) {
        dl {
            max-height: 400px;
            overflow-y: scroll;
        }
        .scrolly-container {
            max-height: 400px;
            overflow-y: scroll;
        }

        table {
            // display: block;
            table-layout: fixed;


            .code_fixed {
                width: auto;
            }
        }
    }
}
