.tabs {
    margin-top: 1.5em;
    margin-bottom: 0;
    display: flex;
    user-select: none;

    > li {
        background-color: $light-grey;
        border-right: 2px solid $white;
        flex: 1 1 auto;
        margin: 0;
        padding: 0.75em 1em;
        transition: all 0.2s ease-in-out;

        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;

        a {
            color: $grey;
            cursor: pointer;
            display: block;
            text-decoration: none;
        }

        &:last-child {
            border: none;
        }

        &.active {
            background-color: $blue;

            a {
                color: $white;
            }
        }
    }
}

.tab-text {
    display: none;

    @include breakpoint($bp-medium) {
        display: inline-block;
    }
}

.tab-content {
    border: 2px solid $blue;
    padding: 1em;
    margin-bottom: 1em;
}

.tab {
    display: none;
}
