.tabs {
    margin-top: 1.5em;
    margin-bottom: 0;
    display: flex;
    user-select: none;

    > li {
        background-color: $light-grey;
        border-right: 2px solid $white;
        flex: 1 1 auto;
        margin: 0;
        padding: 0.75em 1em;
        transition: all 0.2s ease-in-out;

        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;

        a {
            color: $grey;
            cursor: pointer;
            display: block;
            text-decoration: none;
        }

        &:last-child {
            border: none;
        }

        &.active {
            background-color: $blue;
            a { color: $white; }
            &:hover { background-color: $blue; }
        }
        &:hover {
            background-color: $bright-blue;
            a { color: $white; }
        }
    }
}

.tab-text {
    display: none;

    @include breakpoint($bp-medium) {
        display: inline-block;
    }
}

.tab-content {
    border: 2px solid $blue;
    padding: 1em;
    margin-bottom: 1em;
}

.tab {
    display: none;
}

.tab-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li

    input[type="radio"] {
        display: none;
    }

    label {
        border: 1px solid $light-grey;
        transition: background-color 1s ease;
        padding: .5em;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    label:hover {
        background-color: $lightest-grey;
    }

    input[type="radio"]:checked + label {
        background-color: $highlight-color;
    }

    > li {
        width: 100%;
        margin-bottom: 1em;

        &.full {
            width: 100%;
        }

        @include breakpoint($bp-large) {
            &:nth-child(3n+2) {
                @include margin-x(1em);
            }

            flex: 1 0 30%;
            max-width: 32%;
        }
    }
}

