[class="alert-bar"], [class^="alert-bar--"] {
    text-align: left;
    padding: msem(-5);
    margin-bottom: msem(3);
    @extend %clearfix;

    background-color: $bright-blue;
    color: $white;

    h4 {
        padding: msem(-9);
        border: 2px solid #eee;
        margin: 0;

        background: rgba(255, 255, 255, 0.75);
        color: $bright-blue;
    }

    p {
        margin: msem(-9) 0;
    }

    pre {
        background-color: transparent;
        color: $text-color;
        margin-top: msem(-5);
        margin-bottom: msem(-5);
    }

    border: 2px solid #ddd;
}

.alert-bar--error {
    background-color: $error-color;
    color: $white;
    h4 {
        color: $error-color;
    }
}

.alert-bar--warning {
    background-color: $warning-color;
    color: $white;
    h4 {
        color: $warning-color;
    }
}

.alert-bar--success {
    background-color: $success-color;
    color: $white;
    h4 {
        color: $success-color;
    }
}

// event log table
.event-log__status {
    @include adjust-font-size-to(ms(1));
    display: block;
}

.event-log--success {
    color: $white;
    background-color: $success-color;
}

.event-log--error {
    color: $white;
    background-color: $error-color;
}

.event-log--info {
    color: $white;
    background-color: $grey;
}

