[class="alert-bar"], [class^="alert-bar--"] {
    background-color: $bright-blue;
    padding: 0 msem(-9);
    text-align: center;
    @include rhythm(0,.5,.5,1);
    @extend %clearfix;

    b {
        color: $text-color;
    }

    p {
        margin-bottom: 0;
    }
}

.alert-bar--error {
    background-color: $error-color;
    color: $white;
}

.alert-bar--highlight {
    background-color: $highlight-color;
}

.alert-bar--warning {
    background-color: $warning-color;
}

.alert-bar--success {
    background-color: $success-color;
}

[class="alert-bar"] pre, [class^="alert-bar--"] pre {
    text-align: left;
    background-color: transparent;
    color: $text-color;
    margin-top: msem(-5);
    margin-bottom: msem(-5);
}

.alert-bar__details {
    background: rgba(255, 255, 255, 0.75);
    margin: 1em;
    margin-bottom: 0;
    padding: 5px;
    text-align: left;
}

.status-block {
    @include adjust-font-size-to(ms(1));
    display: block;
}

.status-success {
    color: $white;
    background-color: $success-color;
}

.status-error {
    color: $white;
    background-color: $error-color;
}

.status-info {
    color: $white;
    background-color: $grey;
}

