// Choice List
[class*=choice-list] {
    text-align: center;
    margin: 0;
    list-style-type: none;
}

[class*=choice-list__choice] {
    display: inline-block;
}

// Split Choice List
.choice-list--split {
    text-align: right;
}

.choice-list--flush {
    float: left;
}

.choice-list__choice--first {
    float: left;
}
