.terminal {
    background-image: linear-gradient(-90deg, #aeaeae 0%, #787878 32%, #717171 100%);
    border-size: 3px;
    border-image: linear-gradient(-90deg, #717171 0%, #787878 32%, #aeaeae 100%) 32% stretch;
    padding: 3px;
}

.terminal:after {
    content: "HAL 9000 SERIES TERMINAL";
    color: black;
    margin-left: .1em;
}

.terminal__bg {
    -webkit-filter:blur(0.75px);
    background-color:#2e0b0b;
    padding: 0;
    position:relative;
}

.terminal__entry {
    background:transparent;
    color: rgb(255, 97, 97);
    margin:0;
    padding: 1em;
    text-shadow:#fd8989 0 -1px 35px;
    text-transform: uppercase;
}

$scanSize: 1px;
.terminal__entry:before {
    background: repeating-linear-gradient(
        top,
        transparent 0px,
        transparent $scanSize,
        rgba(0,0,0,0.25) $scanSize,
        rgba(0,0,0,0.25) $scanSize*2
    );
    background: -webkit-repeating-linear-gradient(
        top,
        transparent 0px,
        transparent $scanSize,
        rgba(0,0,0,0.25) $scanSize,
        rgba(0,0,0,0.25) $scanSize*2
    );
    background-size: 100% $scanSize*2;
    -webkit-background-size: 100% $scanSize*2;

    content:"";
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.terminal__entry span {
    visibility: hidden;
}

.terminal__entry span.typed {
    visibility: visible;
}

.terminal__entry .cursor:after {
    // -webkit-animation:blink 2s 120;
    // animation:blink 2s 120;
    content:"\220E";
    font-size:120%;
}

@-webkit-keyframes blink{
  to {opacity: .0;}
}
@keyframes blink{
  to {opacity: .0;}
}
