{% extends 'base.html.twig' %}

{% set page_title = "Dangerzone CLI" %}

{% block content %}

    <h2>Dangerzone CLI</h2>

    <h4 class="mbn">Terminal</h4>
    <div class="pre-wrapper pre-ansi">
        <pre class="js-dz-output" style="min-height:3.5em;"></pre>
    </div>

    <form class="js-dangerzone">
        <p>
            <input type="text" name="cmd" class="text-input">
        </p>

        <p>
            <input class="btn--toggles btn--action" type="submit" value="Run Command">
            <a href="{{ urlFor('admin.super.dangerzone') }}">Reset</a>
        </p>
    </form>
{% endblock %}
