<html>
<head>
<title>Admin center</title>
</head>
<body>
<ul>
    <li><a href="/repositories">Manage Repos</a></li>
    <li><a href="/servers">Manage ManageServers</a></li>
    <li><a href="/deployments">Manage Deployments</a></li>
    <li><a href="/permissionsMain">Manage User Permissions</a></li>
</ul>
</body>
</html>

