{% include 'common/htmltop.twig' %}
{% include 'common/header.twig' %}
<ul>
 <li>Total Users: {{ total_users }}</li>
 <li>Total Projects: (not live yet)</li>
 <li>Total Pushes: (not live yet)</li>
 <li>Production Pushes Today: (not live yet)</li>
</ul>
{% include 'common/htmlbottom.twig' %}
