{% include 'common/htmltop.twig' %}
<table>
    <tr>
        <td>Push Start</td>
        <td>Push End</td>
        <td>Push Status</td>
        <td>Repository</td>
        <td>Branch</td>
        <td>Environment</td>
        <td>Server</td>
        <td>Pusher</td>
    </tr>
</table>
{% include 'common/htmlbottom.twig' %}
