<!DOCTYPE html>
<html>
 <head>
 <title>GIT Permissions Management</title>
 </head>
 <body>
    <ul>
        <li><a href='/permissionsGrant'>Grant permissions to a user</a></li>
        <li><a href='/permissionsView'>View permissions by user or repository</a></li>
    </ul>
   {% for repository in repositories %}
   {% endfor %}
 </body>
</html>
