<!DOCTYPE html>
<html>
 <head>
 <title>GitBert Permissions</title>
 </head>
 <body>
   <form name="step1" action="/permissionsGrant/1" method="post"> 
    username: 
    <select name="userId">
    {% for user in users %}
        <option value="{{user.CommonId}}">{{user.DisplayName}}</option>
    {% endfor %}
    </select><br>
    <input type="hidden" name="displayName" value="{{user.DisplayName}}">
    <input type="submit" value="select user"><br>
   </form>
  </div>
 </body>
</html>
