<!DOCTYPE html>
<html>
 <head>
 <title>GIT Repository Management</title>
 </head>
 <body>
   <form name="add-repo" action="/repositories" method="post"> 
    url: <input type="text" name="url"><br>
    email: <input type="text" name="email"><br>
    shortname: <input type="text" name="shortname"><br>
    description: <input type="text" name="description"><br>
    <input type="submit" name="submit" value="add repository"><br>
   </form>
   {% for repository in repositories %}
        <a href='/repositories/{{ repository.RepoID}}/'>{{repository.ShortName}}</a><br/>
   {% endfor %}
 </body>
</html>
