{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = "System Dashboard" %}

{% block content %}
    <div class="nav--page">
        <h1>{{ page_title }}</h1>

        <p class="nav--page__back">
            <a class="btn btn--small btn--back" href="{{ uriFor('admin') }}">Back to Admin Dashboard</a>
        </p>
    </div>

    <h2>Agent Status</h2>
    <ul class="meta-box">
        <li>
            <h6>Agent 1</h6>
            <div class="pre-wrapper">
                <pre>tbd</pre>
            </div>
        </li>

        <li>
            <h6>Agent 2</h6>
            <div class="pre-wrapper">
                <pre>tbd</pre>
            </div>
        </li>
    </ul>

{% endblock %}
