{% macro renderProperty(property, maxlength) %}
    {% import "_partial/macros.twig" as hal_macros %}

    {% set slice = maxlength|default(0) %}
    {% set formatted = property|formatPropertyValue(slice) %}

    {% if formatted is invalidProperty %}
        {{ hal_macros.status('Error - Decoding Failure', 'error', 'spam-2') }}

    {% elseif formatted is null %}
        {{ hal_macros.icon('locked') }} Secure

    {% else %}
        {% if formatted is iterable %}
            <ul class="code-list">
                {% for list_item in formatted %}
                    <li>
                        <div class="pre-wrapper">
                            <pre class="code_clear">{{ list_item }}</pre>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <div class="pre-wrapper">
                <pre class="code_clear">{{ formatted }}</pre>
            </div>
        {% endif %}
    {% endif %}

{% endmacro %}


