{% import "_partial/macros.twig" as macros %}

{% if schema %}
    <table class="table--spacing-medium table--striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for property in schema %}
                <tr>
                    <td><code class="code_clear">{{ property.key }}</code></td>
                    <td>
                        {{ property.isSecure ? macros.icon('locked', '', 'This value is sensitive') : '' }}
                        {{ property|formatSchemaType }}
                    </td>
                    <td>{{ property.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There is no schema defined for this application.</p>
{% endif %}
