{% extends 'base.html.twig' %}
{% import "_partial-form/macros.twig" as form_macros %}

{% set page_title = 'Edit Environment : ' ~ env.name %}

{% block content %}
    <h1>Edit Environment - <strong>{{ env.name }}</strong></h1>

    <div class="form-wrapper">
        {{ form_macros.formErrors(errors) }}

        <form method="post">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="envname" maxlength="24" required value="{{ form.name }}" class="text-input">
                </li>
            </ul>

            <ul class="button-list">
                <li><input class="btn btn--action" type="submit" value="Save Changes"></li>
                <li class="button-list__fixed"><a class="btn btn--secondary" href="{{ urlFor('environment', {id: env.id}) }}">Cancel</a></li>
            </ul>

        </form>
    </div>
{% endblock %}
