$alert-lightness: .35;
$alert-border-size: .05em;

@mixin alert-color($color, $lightness: .35, $border-size: .1em) {
    background-color: rgba($color, $lightness);
    box-shadow: 0 0 0 $border-size $color;

    color: $white;
    h4 {
        color: $color;
    }

    .alert-bar-icon {
        background: $color;
    }
}

[class="alert-bar"], [class^="alert-bar--"] {
    text-align: left;
    margin-bottom: 1.25em;
    display: flex;
    flex-wrap: wrap;
    // position: relative;

    @include alert-color($bright-blue, $alert-lightness, $alert-border-size);

    h4 {
        font-size: 100%;
        margin: 0;
        padding: .15em 0;
    }

    p {
        font-size: .80em;
        margin: 0;
    }

    pre {
        background-color: transparent;
        color: $text-color;
        font-size: .70em;
        margin: 0;
    }

    // Old format, if banner is not wrapped in icon/content
    > h4, > p, > pre {
        flex-basis: 100%;
        padding: .5em;
    }
    > p, > pre {
        padding-top: 0;
    }

}

.alert-bar--error {
    @include alert-color($error-color, $alert-lightness, $alert-border-size);
}

.alert-bar--warning {
    @include alert-color($warning-color, $alert-lightness, $alert-border-size);
}

.alert-bar--success {
    @include alert-color($success-color, $alert-lightness, $alert-border-size);
}

.alert-bar-icon {
    flex: 0 0 auto;
    color: $white;
    text-align: center;
    font-size: 130%;

    width: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-bar-contents {
    flex: 1;
    padding: .5em;
}

// event log table
.event-log--error {
    color: $white;
    background-color: $error-color;

    a { color: $white; }
}
