.btn {
    border: 1px solid shade($blue,20%);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($blue,20%), 0 4px 2px rgba(0, 0, 0, .5);

    // Ensure that svg icons within buttons are clickable
    svg {
        pointer-events: none;
    }
}

// Basic button modifiers
.btn--tiny {
    margin: 0;
    margin-top: -5px;
    padding: 0 ms(-8);
}

.btn--small { font-size: ms(-2); }
.btn--large { font-size: ms(3); }

@mixin btn-color($color) {
    background-color: $color;
    border: 1px solid shade($color, 20%);

    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($color,20%), 0 4px 2px rgba(0, 0, 0, .5);

    &:hover { background-color: tint($color, 15%); }
    &:focus { color: shade($color, 20%); }
}

// Button types
.btn--action {
    @include btn-color($warning-color);
}

.btn--destructive {
    @include btn-color($error-color);
}

.btn--disabled {
    @include btn-color($light-grey);
}

.btn--selected {
    @include btn-color($success-color);
}

.btn--not-selected {
    @include btn-color($grey);
}
