[class*="btn"] {
    position: relative;
    color: $white;
    background: $blue;
    border: 1px solid shade($blue,20%);
    border-radius: 0px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($blue,20%), 0 4px 2px rgba(0, 0, 0, .5);
}

[class*="btn"]:active {
    top: 5px;
    box-shadow: none;
}

[class*="btn"]:hover {
    color: $white;
    background: tint($blue, 10%);
}

.btn--action {
    background-color: $warning-color;
    border: 1px solid shade($warning-color, 20%);
    text-align: center;

    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($warning-color,20%), 0 4px 2px rgba(0, 0, 0, .5);

    &:hover { background-color: tint($warning-color, 15%); }
    &:focus { color: shade($warning-color, 20%); }
}

.btn--destructive {
    background-color: $error-color;
    border: 1px solid shade($error-color, 20%);
    text-align: center;

    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($error-color,20%), 0 4px 2px rgba(0, 0, 0, .5);

    &:hover { background-color: tint($error-color, 15%); }
    &:focus { color: shade($error-color, 20%); }
}

.btn--disabled {
    background-color: $light-grey;
    border: 1px solid shade($light-grey, 20%);
    color: tint($grey, 30%);

    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($light-grey,20%), 0 4px 2px rgba(0, 0, 0, .5);
    pointer-events: none;

    &:hover { background-color: tint($light-grey, 15%); }
    &:focus { color: shade($light-grey, 20%); }
}

.btn--selected {
    background-color: $success-color;
    border: 1px solid shade($success-color, 20%);
    text-align: center;

    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($success-color,20%), 0 4px 2px rgba(0, 0, 0, .5);

    &:hover { background-color: tint($success-color, 15%); }
    &:focus { color: shade($success-color, 20%); }
}

.btn--not-selected {
    background-color: $grey;
    border: 1px solid shade($grey, 20%);
    text-align: center;

    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 shade($grey,20%), 0 4px 2px rgba(0, 0, 0, .5);

    &:hover { background-color: tint($grey, 15%); }
    &:focus { color: shade($grey, 20%); }
}

.btn--alt {
    float: right;
}

.btn--toggles {
    padding-right: ms(-1);
    padding-left: ms(-1);
}

.btn--tiny {
    margin: 0;
    padding: 0 ms(-1);
}

/* Ensure that svg icons within buttons are clickable */
.btn svg {
    pointer-events: none;
}

