.neatbox {
    display: inline-block;
    padding-left: 1em;
    position: relative;
    text-align: left;
    user-select: none;

    text-overflow: ellipsis;
    white-space: nowrap;



    .neatbox__check {
        height: 1.5em;
        width: 1.5em;

        top: 0;
        left: 0;
        position: absolute;

        background-color: $white;
        box-shadow: 0 0 0 1px $grey;
        cursor: pointer;

        &:before {
            content: '';

            height: .5em;
            width: .9em;

            top: .45em;
            left: .3em;
            position: absolute;

            border: 3px solid $lightest-grey;
            border-top: none;
            border-right: none;

            transform: rotate(-45deg);
        }
    }

    &:hover .neatbox__check {
        box-shadow: 0 0 1px 2px $hal-blue;
    }

    input[type="checkbox"] {
        visibility: hidden;
    }

    input[type="checkbox"]:checked + .neatbox__check {
        background-color: $green;
        box-shadow: 0 0 0 1px transparent;

        &:before {
            border-color: $white;
        }
    }

    &:hover input[type="checkbox"]:checked + .neatbox__check {
        box-shadow: 0 0 1px 2px $hal-blue;
    }

}
