// Col list
.col-list {
    @include columns(8em 3);
    @include rhythm(0,.25,.25,1);
}

// Normal-ass bulleted list
.list--bullet {
    margin-left: 1.5em;
    list-style-type: disc;
    li {
        @include trailer(.1);
    }
}

// Inline list
[class="inline-list"], [class^="inline-list--"] {
    margin-left: 0;
    display: inline;
    list-style-type: none;
}

[class="inline-list"] > li, [class^="inline-list--"] > li {
    display: inline;
}

.inline-list--comma > li::after {
    content: ", ";
}

.inline-list--comma > li:last-child::after {
    content: "";
}

// Stat list
.stat-list {
    margin-left: 1em;
    list-style-type: none;
}

.stat-list > li {
    @include trailer(.5);
}

// List of code or preformatted
.code-list {
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 1em;
}


// A list of buttons... and other page nav type things.
.button-list {
    list-style-type: none;
    margin-bottom: 0;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;

    li {
        flex: 1 0 auto;
        margin: ms(-9) 0;
        width: 100%;
    }

    .button-list__fixed {
        flex: 0 0 auto;
    }

    .btn {
        width: 100%;
    }

    @include breakpoint(40em) {
        flex-flow: row wrap;
        li {
            margin: ms(-9);
            width: auto;
        }
    }
}

.button-list--half {
    @include breakpoint(40em) {
        max-width: 30em;
    }
}
