// Col list
.col-list {
    @include columns(8em 3);
    @include rhythm(0,.25,.25,1);
}

// Normal-ass bulleted list
.list--bullet {
    margin-left: 1.5em;
    list-style-type: disc;
    li {
        @include trailer(.1);
    }
}

// Inline list
.inline-list, [class^="inline-list--"] {
    margin-left: 0;
    display: inline;
    list-style-type: none;
}

.inline-list > li, [class^="inline-list--"] > li {
    display: inline;
}


.inline-list--comma > li::after {
    content: ", ";
}
.inline-list--comma > li:last-child::after
{
    content: "";
}

.inline-list--space > li::after {
    margin-right: .25em;
    content: "";
}
.inline-list--space > li:last-child::after {
    margin-right: 0;
    content: "";
}


// Stat list
.stat-list {
    margin-left: 1em;
    list-style-type: none;
}

.stat-list > li {
    @include trailer(.5);
}

// List of code or preformatted
.code-list {
    list-style-type: square;
    line-height: 180%;
    margin-bottom: 0;
    margin-left: 1em;
}


// Legend list
.list--legend {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > * {
        flex: 1;
    }

    > :first-child {
        flex: 0 0 auto;
    }
}

// A list of buttons... and other page nav type things.
.button-list {
    list-style-type: none;
    margin-bottom: 0;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;

    li {
        flex: 1 0 auto;
        margin: ms(-9) 0;
        width: 100%;
    }

    .button-list__fixed {
        flex: 0 0 auto;
    }

    .btn {
        width: 100%;
    }

    @include breakpoint($bp-medium) {
        flex-flow: row wrap;
        li {
            margin: ms(-9);
            width: auto;
        }

        // see http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
        // 4 buttons = 2 per row
        .button-list__selector:first-child:nth-last-child(4),
        .button-list__selector:first-child:nth-last-child(4) ~ li {
            min-width: 40%;
        }

        // 5, 6, 8 buttons = 3 per row
        .button-list__selector:first-child:nth-last-child(5),
        .button-list__selector:first-child:nth-last-child(5) ~ li,
        .button-list__selector:first-child:nth-last-child(6),
        .button-list__selector:first-child:nth-last-child(6) ~ li,
        .button-list__selector:first-child:nth-last-child(8),
        .button-list__selector:first-child:nth-last-child(8) ~ li {
            min-width: 30%;
        }

        // 7 buttons = 4 per row
        .button-list__selector:first-child:nth-last-child(7),
        .button-list__selector:first-child:nth-last-child(7) ~ li {
            min-width: 20%;
        }
    }
}

.button-list--half {
    @include breakpoint($bp-medium) {
        max-width: 30em;
    }
}
