[role="navigation"] {
    background-color: $text-color;
    box-shadow: 0px 5px 5px tint($grey, 50%);
}

.nav--main {
    max-width: 60em;
    margin: 0 auto;
    background-color: $text-color;
    height: 100%;

    li {
        a .icon {
            margin-right: msem(-3);
        }

        &:first-child a {
            @include padding-leader(.25);
            border-top: 1px solid $white;
        }
    }
}

.nav--main li a,
.nav--preferences li label {
    border-bottom: 1px solid $text-color;
    @include padding-leader(.25);
    @include padding-trailer(.25);
    padding-left: msem(0);
    color: $white;
    background-color: $text-color;
    display: block;

    &:hover {
        text-decoration: none;
        background-color: $highlight-color;
        color: $text-color;
        border-bottom: 1px solid $highlight-color;
        padding-right: msem(5);
    }
}

.nav--preferences {
    background-color: transparent;
    @include leader();
    @include trailer();

    li label {
        color: black;
        background-color: transparent;
        border: none;

        &:hover {
            border-bottom: none;
        }
    }

    .pref-off {
        color: $error-color;
        display: inline;
    }

    .pref-on {
        color: $success-color;
        display: none;
    }

    input {
        display: none;
    }

    input:checked ~ .pref-on {
        display: inline;
    }

    input:checked ~ .pref-off {
        display: none;
    }
}

@include breakpoint(30.0625em) {
    .nav--main {
        display: flex;
        flex-wrap: wrap;

        > li {

            &,
            > a {
                flex-grow: 0;
                display: block;
            }
        }
    }

    .nav--main li a,
    .nav--preferences li label {
        text-align: center;
        @include padding-trailer(.25);
        padding-left: msem(-1);
        padding-right: msem(-1);
        @include adjust-font-size-to(ms(-1));

        &:hover {
            @include padding-trailer(.25);
            padding-right: msem(-1);
        }
    }

    .nav--main li a .icon {
        display: block;
    }

    .nav--main li a .icon,
    .nav--preferences .icon {
        margin: 0 auto msem(-3);
        width: 32px;
        height: 32px;
    }

    .nav--main li:first-child a {
        border-top: 0;
    }

    .nav--preferences .pref-off {
        display: block;
    }
    .nav--preferences input:checked ~ .pref-on {
        display: block;
    }
}

@include breakpoint(42.1875em) {
    [role="navigation"] {
        @include padding-trailer(5);
        @include padding-leader(.5);
    }

    .nav--main {
        flex-wrap: nowrap;

        > li {

            &,
            > a {
                flex-grow: 1;
            }
        }

        > li.signed-out {
            flex-grow: 0;
        }
    }
}

.disabled {
    color: $light-grey;
}

.pages {
    padding-right: msem(-1);
    padding-left: msem(-1);
}
