// Split

.split {
    @extend %clearfix;
}

.split__title + dd {
    text-align: left;
    float: left;
}

.details-box {
    border: 8px solid $light-grey;
    padding: msem(1);
    @include trailer(1);

    .split__title {
        font-weight: bold;
        width: 100%;
        @include adjust-font-size-to(ms(1));


        @include breakpoint(40em) {
            font-weight: normal;
            width: 15em;

            &::after {
                content: ':';
                display: inline;
            }
        }
    }

    .split__title,
    .split__title + dd {
        line-height: 1.9;
        text-align: left;
    }
}

.details-box--wide {
    .split__title {
        @include breakpoint(40em) {
            width: 25em;
        }
    }
}
