.details-box {
    border: 8px solid $light-grey;
    padding: ms(1);
    @include trailer(1);

    .split--left__title {
        font-weight: bold;
        width: 100%;
        font-size: ms(1);
        line-height: 1.9;

        @include breakpoint(41.125em) {
            font-weight: normal;
            width: 15em;

            &::after {
                content: ':';
                display: inline;
            }
        }
    }

    .split--left__value {
        line-height: 1.9;
    }
}

.details-box--wide {
    .split--left__title {
        @include breakpoint(41.125em) {
            width: 25em;
        }
    }
}
