$starColor: #fff;

@mixin star1() {
    box-shadow:
        1744px 122px $starColor,
        134px 1321px $starColor,
        92px 859px $starColor,
        235px 1045px $starColor,
        366px 912px $starColor,
        491px 942px $starColor,
        14px 1831px $starColor,
        582px 476px $starColor,
        588px 1230px $starColor,
        1520px 1343px $starColor,
        1671px 203px $starColor,
        550px 341px $starColor,
        1491px 549px $starColor,
        558px 161px $starColor,
        896px 1823px $starColor,
        999px 1463px $starColor,
        1557px 636px $starColor,
        1754px 1307px $starColor,
        1682px 1494px $starColor,
        703px 1707px $starColor,
        1945px 1847px $starColor,
        1151px 1320px $starColor,
        980px 144px $starColor,
        478px 948px $starColor,
        109px 1762px $starColor,
        558px 255px $starColor,
        719px 1820px $starColor,
        588px 748px $starColor,
        1899px 174px $starColor,
        841px 1771px $starColor,
        571px 1588px $starColor,
        1155px 353px $starColor,
        1879px 1220px $starColor,
        1782px 870px $starColor,
        407px 1238px $starColor,
        1141px 63px $starColor,
        1147px 1097px $starColor,
        1406px 159px $starColor,
        637px 1215px $starColor,
        694px 1114px $starColor,
        1536px 727px $starColor,
        1708px 1512px $starColor,
        1147px 880px $starColor,
        684px 988px $starColor,
        140px 851px $starColor,
        1565px 1788px $starColor,
        1573px 889px $starColor,
        1172px 628px $starColor,
        1474px 1978px $starColor,
        435px 447px $starColor,
        185px 1808px $starColor,
        620px 1560px $starColor,
        1387px 1196px $starColor,
        138px 1854px $starColor,
        137px 1499px $starColor,
        1721px 1132px $starColor,
        10px 32px $starColor,
        1931px 1990px $starColor,
        209px 91px $starColor,
        1876px 1795px $starColor,
        1130px 1551px $starColor,
        284px 1848px $starColor,
        389px 1603px $starColor,
        612px 1121px $starColor,
        825px 1926px $starColor,
        161px 344px $starColor,
        1729px 333px $starColor,
        1037px 37px $starColor,
        844px 1085px $starColor,
        1179px 554px $starColor,
        50px 478px $starColor,
        1864px 704px $starColor,
        233px 723px $starColor,
        1202px 445px $starColor,
        882px 189px $starColor,
        362px 735px $starColor,
        924px 411px $starColor,
        902px 209px $starColor,
        104px 185px $starColor,
        1599px 1852px $starColor,
        1974px 944px $starColor,
        438px 1164px $starColor,
        401px 1533px $starColor,
        191px 1429px $starColor,
        251px 1034px $starColor,
        1807px 1412px $starColor,
        72px 23px $starColor,
        1752px 1146px $starColor,
        261px 1481px $starColor,
        548px 33px $starColor,
        710px 1204px $starColor,
        355px 1697px $starColor,
        581px 100px $starColor,
        318px 1146px $starColor,
        929px 79px $starColor,
        999px 347px $starColor,
        155px 292px $starColor,
        271px 677px $starColor,
        920px 1596px $starColor,
        1736px 184px $starColor,
        1022px 1790px $starColor,
        1465px 1762px $starColor,
        820px 526px $starColor,
        175px 37px $starColor,
        440px 746px $starColor,
        681px 1879px $starColor,
        690px 1135px $starColor,
        1960px 1453px $starColor,
        422px 856px $starColor,
        1217px 1232px $starColor,
        1015px 1695px $starColor,
        1933px 492px $starColor,
        272px 448px $starColor,
        1578px 1487px $starColor,
        437px 874px $starColor,
        947px 838px $starColor,
        1339px 867px $starColor,
        1484px 773px $starColor,
        764px 66px $starColor,
        418px 707px $starColor,
        192px 1909px $starColor,
        1629px 215px $starColor,
        171px 260px $starColor,
        1180px 220px $starColor,
        488px 857px $starColor,
        593px 493px $starColor,
        1794px 886px $starColor,
        1673px 1977px $starColor,
        905px 1193px $starColor,
        1372px 1843px $starColor,
        1605px 908px $starColor,
        659px 181px $starColor,
        700px 1758px $starColor,
        812px 1200px $starColor,
        1800px 1440px $starColor,
        1858px 212px $starColor,
        628px 1026px $starColor,
        1825px 1556px $starColor,
        1641px 1750px $starColor,
        1195px 1086px $starColor,
        1465px 558px $starColor,
        1634px 436px $starColor,
        1354px 1831px $starColor,
        1212px 1485px $starColor,
        1491px 994px $starColor,
        604px 1279px $starColor,
        413px 1131px $starColor,
        1677px 1086px $starColor,
        841px 47px $starColor,
        146px 489px $starColor,
        117px 1195px $starColor,
        67px 47px $starColor,
        883px 258px $starColor,
        1801px 1294px $starColor,
        594px 1870px $starColor,
        649px 531px $starColor,
        721px 132px $starColor,
        975px 1616px $starColor,
        716px 94px $starColor,
        295px 791px $starColor,
        174px 1814px $starColor,
        1130px 298px $starColor,
        1747px 1835px $starColor,
        605px 1521px $starColor,
        78px 743px $starColor,
        1685px 311px $starColor,
        804px 341px $starColor,
        1440px 852px $starColor,
        1607px 1692px $starColor,
        698px 1112px $starColor,
        1153px 1608px $starColor,
        539px 999px $starColor,
        262px 353px $starColor,
        457px 1246px $starColor,
        1858px 998px $starColor,
        364px 431px $starColor,
        1907px 912px $starColor,
        541px 916px $starColor,
        168px 1384px $starColor,
        357px 1321px $starColor,
        1859px 1866px $starColor,
        1001px 909px $starColor,
        842px 1663px $starColor,
        369px 1176px $starColor,
        932px 1372px $starColor,
        1606px 732px $starColor,
        1844px 857px $starColor,
        974px 1588px $starColor,
        804px 1139px $starColor,
        65px 1213px $starColor,
        1066px 863px $starColor,
        1991px 1734px $starColor,
        300px 738px $starColor,
        1260px 1141px $starColor,
        83px 260px $starColor,
        1219px 167px $starColor,
        613px 990px $starColor,
        873px 81px $starColor,
        362px 235px $starColor,
        373px 372px $starColor,
        80px 247px $starColor,
        902px 1141px $starColor,
        294px 464px $starColor,
        766px 1925px $starColor,
        1151px 1305px $starColor,
        1250px 1593px $starColor,
        1289px 119px $starColor,
        1525px 1505px $starColor,
        234px 1306px $starColor,
        571px 858px $starColor,
        571px 996px $starColor,
        766px 1342px $starColor,
        1371px 716px $starColor,
        711px 1939px $starColor,
        904px 1797px $starColor,
        424px 1710px $starColor,
        762px 1614px $starColor,
        1389px 1290px $starColor,
        905px 689px $starColor,
        352px 38px $starColor,
        2000px 1317px $starColor,
        597px 864px $starColor,
        824px 711px $starColor,
        966px 1060px $starColor,
        958px 992px $starColor,
        1121px 324px $starColor,
        1624px 688px $starColor,
        1737px 702px $starColor,
        1566px 1344px $starColor,
        697px 368px $starColor,
        291px 1126px $starColor,
        1732px 50px $starColor,
        712px 1941px $starColor,
        1257px 372px $starColor,
        317px 1462px $starColor,
        222px 309px $starColor,
        1139px 647px $starColor,
        170px 878px $starColor,
        1272px 1511px $starColor,
        1009px 1912px $starColor,
        1875px 1105px $starColor,
        1968px 1370px $starColor,
        1193px 687px $starColor,
        1498px 611px $starColor,
        247px 1993px $starColor,
        1686px 1611px $starColor,
        937px 340px $starColor,
        114px 1423px $starColor,
        496px 1191px $starColor,
        110px 1284px $starColor,
        876px 687px $starColor,
        1173px 214px $starColor,
        210px 628px $starColor,
        302px 1173px $starColor,
        1318px 939px $starColor,
        1665px 1310px $starColor,
        66px 338px $starColor,
        1355px 615px $starColor,
        1139px 1672px $starColor,
        91px 1000px $starColor,
        112px 422px $starColor,
        89px 503px $starColor,
        97px 1599px $starColor,
        1031px 1955px $starColor,
        1755px 1532px $starColor,
        1764px 1930px $starColor,
        1822px 1751px $starColor,
        133px 401px $starColor,
        718px 85px $starColor,
        1797px 78px $starColor,
        520px 1725px $starColor,
        226px 406px $starColor,
        1561px 1574px $starColor,
        340px 1602px $starColor,
        718px 976px $starColor,
        1823px 570px $starColor,
        1298px 484px $starColor,
        1023px 1903px $starColor,
        1266px 1334px $starColor,
        763px 877px $starColor,
        223px 631px $starColor,
        1761px 1293px $starColor,
        878px 1px $starColor,
        973px 696px $starColor,
        975px 1841px $starColor,
        1276px 302px $starColor,
        1399px 1324px $starColor,
        1706px 872px $starColor,
        341px 1960px $starColor,
        1384px 1655px $starColor,
        1897px 767px $starColor,
        68px 405px $starColor,
        705px 310px $starColor,
        194px 103px $starColor,
        1432px 368px $starColor,
        1262px 1682px $starColor,
        1933px 1526px $starColor,
        263px 655px $starColor,
        1031px 1031px $starColor,
        1557px 788px $starColor,
        1558px 1360px $starColor,
        812px 421px $starColor,
        1951px 734px $starColor,
        1567px 498px $starColor,
        1832px 1229px $starColor,
        913px 164px $starColor,
        1907px 1273px $starColor,
        533px 749px $starColor,
        1235px 951px $starColor,
        645px 1959px $starColor,
        92px 1570px $starColor,
        1169px 1434px $starColor,
        118px 1223px $starColor,
        583px 957px $starColor,
        1245px 316px $starColor,
        527px 863px $starColor,
        372px 1007px $starColor,
        244px 1251px $starColor,
        314px 494px $starColor,
        1842px 1463px $starColor,
        1315px 730px $starColor,
        1655px 1366px $starColor,
        482px 979px $starColor,
        340px 1808px $starColor,
        256px 578px $starColor,
        858px 1792px $starColor,
        1965px 403px $starColor,
        454px 253px $starColor,
        1664px 698px $starColor,
        1974px 750px $starColor,
        262px 1801px $starColor,
        1652px 1076px $starColor,
        992px 711px $starColor,
        1792px 1323px $starColor,
        700px 1748px $starColor,
        855px 966px $starColor,
        1833px 1747px $starColor,
        402px 1272px $starColor,
        1391px 1039px $starColor,
        1395px 1538px $starColor,
        397px 1972px $starColor,
        744px 1403px $starColor,
        1784px 1046px $starColor,
        111px 198px $starColor,
        1827px 473px $starColor,
        1347px 1891px $starColor,
        1238px 1081px $starColor,
        189px 908px $starColor,
        1513px 542px $starColor,
        673px 981px $starColor,
        720px 1184px $starColor,
        373px 792px $starColor,
        1470px 1631px $starColor,
        16px 822px $starColor,
        1935px 829px $starColor,
        364px 613px $starColor,
        223px 899px $starColor,
        1233px 874px $starColor,
        1441px 1834px $starColor,
        719px 894px $starColor,
        76px 1610px $starColor,
        296px 685px $starColor,
        572px 1637px $starColor,
        349px 114px $starColor,
        1670px 1802px $starColor,
        979px 928px $starColor,
        1589px 574px $starColor,
        756px 194px $starColor,
        616px 507px $starColor,
        271px 186px $starColor,
        198px 360px $starColor,
        1916px 418px $starColor,
        721px 667px $starColor,
        1937px 1908px $starColor,
        17px 556px $starColor,
        345px 443px $starColor,
        718px 760px $starColor,
        1922px 310px $starColor,
        1185px 887px $starColor,
        1745px 1848px $starColor,
        909px 847px $starColor,
        1170px 134px $starColor,
        1773px 1133px $starColor,
        1099px 233px $starColor,
        1122px 1524px $starColor,
        866px 907px $starColor,
        398px 213px $starColor,
        1287px 886px $starColor,
        1194px 149px $starColor,
        1876px 1667px $starColor,
        332px 1658px $starColor,
        146px 1253px $starColor,
        958px 211px $starColor,
        643px 47px $starColor,
        1213px 1339px $starColor,
        1637px 1939px $starColor,
        1601px 355px $starColor,
        256px 1982px $starColor,
        989px 1609px $starColor,
        1179px 701px $starColor,
        685px 1463px $starColor,
        1910px 465px $starColor,
        764px 1930px $starColor,
        1856px 433px $starColor,
        720px 367px $starColor,
        1821px 416px $starColor,
        48px 1114px $starColor,
        716px 489px $starColor,
        174px 1972px $starColor,
        115px 1373px $starColor,
        1487px 141px $starColor,
        1919px 1362px $starColor,
        1662px 859px $starColor,
        1168px 490px $starColor,
        706px 1820px $starColor,
        588px 318px $starColor,
        107px 778px $starColor,
        621px 1667px $starColor,
        1331px 1996px $starColor,
        1404px 1154px $starColor,
        860px 1019px $starColor,
        1385px 1883px $starColor,
        1066px 1951px $starColor,
        752px 444px $starColor,
        955px 1031px $starColor,
        1256px 1899px $starColor,
        961px 1455px $starColor,
        1101px 84px $starColor,
        890px 335px $starColor,
        798px 40px $starColor,
        138px 54px $starColor,
        1934px 252px $starColor,
        429px 324px $starColor,
        1645px 1522px $starColor,
        218px 737px $starColor,
        1625px 531px $starColor,
        605px 1290px $starColor,
        1867px 648px $starColor,
        82px 1137px $starColor,
        231px 1423px $starColor,
        471px 944px $starColor,
        1363px 1752px $starColor,
        482px 1364px $starColor,
        1305px 627px $starColor,
        1065px 891px $starColor,
        217px 1841px $starColor,
        1843px 1501px $starColor,
        1681px 734px $starColor,
        185px 856px $starColor,
        609px 1094px $starColor,
        49px 1657px $starColor,
        783px 594px $starColor,
        1018px 1123px $starColor,
        644px 1149px $starColor,
        739px 1262px $starColor,
        1439px 1187px $starColor,
        1789px 1507px $starColor,
        941px 791px $starColor,
        1319px 1308px $starColor,
        498px 626px $starColor,
        1594px 858px $starColor,
        783px 71px $starColor,
        576px 1976px $starColor,
        1625px 696px $starColor,
        1821px 352px $starColor,
        1039px 885px $starColor,
        208px 430px $starColor,
        124px 198px $starColor,
        1964px 686px $starColor,
        1440px 1952px $starColor,
        231px 1435px $starColor,
        1846px 853px $starColor,
        1174px 536px $starColor,
        1228px 310px $starColor,
        1380px 699px $starColor,
        1116px 169px $starColor,
        1416px 1007px $starColor,
        178px 192px $starColor,
        1302px 1903px $starColor,
        1892px 154px $starColor,
        962px 1032px $starColor,
        1009px 1916px $starColor,
        1549px 1206px $starColor,
        899px 968px $starColor,
        902px 543px $starColor,
        1516px 542px $starColor,
        965px 527px $starColor,
        1594px 696px $starColor,
        856px 1719px $starColor,
        1522px 248px $starColor,
        1795px 283px $starColor,
        1144px 946px $starColor,
        1365px 199px $starColor,
        359px 1347px $starColor,
        1506px 263px $starColor,
        433px 1793px $starColor,
        201px 247px $starColor,
        942px 838px $starColor,
        1122px 1065px $starColor,
        1997px 108px $starColor,
        306px 989px $starColor,
        641px 1713px $starColor,
        1072px 959px $starColor,
        1874px 1079px $starColor,
        1938px 269px $starColor,
        891px 389px $starColor,
        22px 574px $starColor,
        727px 474px $starColor,
        1671px 1649px $starColor,
        98px 400px $starColor,
        641px 798px $starColor,
        1218px 1051px $starColor,
        907px 1485px $starColor,
        1002px 1549px $starColor,
        1932px 1448px $starColor,
        1132px 573px $starColor,
        1222px 1147px $starColor,
        1009px 451px $starColor,
        698px 1940px $starColor,
        97px 1123px $starColor,
        904px 751px $starColor,
        1904px 593px $starColor,
        1451px 1658px $starColor,
        191px 1606px $starColor,
        1346px 482px $starColor,
        1935px 1086px $starColor,
        1052px 224px $starColor,
        526px 1810px $starColor,
        1607px 606px $starColor,
        427px 1830px $starColor,
        1546px 407px $starColor,
        1771px 208px $starColor,
        1714px 181px $starColor,
        1332px 943px $starColor,
        1663px 1094px $starColor,
        1861px 1747px $starColor,
        1429px 1217px $starColor,
        1733px 1915px $starColor,
        925px 1179px $starColor,
        735px 781px $starColor,
        1775px 1989px $starColor,
        1770px 476px $starColor,
        844px 400px $starColor,
        1793px 1517px $starColor,
        544px 281px $starColor,
        725px 344px $starColor,
        1274px 764px $starColor,
        1845px 339px $starColor,
        582px 1745px $starColor,
        351px 1287px $starColor,
        207px 749px $starColor,
        1063px 1411px $starColor,
        1246px 342px $starColor,
        1538px 166px $starColor,
        770px 602px $starColor,
        1214px 1971px $starColor,
        113px 294px $starColor,
        1157px 101px $starColor,
        1657px 517px $starColor,
        637px 1693px $starColor,
        961px 1649px $starColor,
        1754px 1572px $starColor,
        1885px 659px $starColor,
        238px 34px $starColor,
        413px 1027px $starColor,
        1709px 1556px $starColor,
        460px 878px $starColor,
        1597px 608px $starColor,
        544px 434px $starColor,
        1258px 477px $starColor,
        565px 1863px $starColor,
        426px 322px $starColor,
        1917px 850px $starColor,
        296px 144px $starColor,
        643px 1896px $starColor,
        511px 116px $starColor,
        359px 847px $starColor,
        702px 1133px $starColor,
        857px 1371px $starColor,
        559px 1758px $starColor,
        1615px 1223px $starColor,
        1927px 1736px $starColor,
        704px 941px $starColor,
        1932px 942px $starColor,
        1462px 335px $starColor,
        154px 1915px $starColor,
        1387px 918px $starColor,
        1512px 1041px $starColor,
        1094px 1334px $starColor,
        1678px 865px $starColor,
        1960px 431px $starColor,
        666px 1258px $starColor,
        422px 1215px $starColor,
        345px 802px $starColor,
        1207px 647px $starColor,
        1701px 374px $starColor,
        1440px 1925px $starColor,
        1536px 1163px $starColor,
        905px 155px $starColor,
        843px 1036px $starColor,
        660px 823px $starColor,
        1329px 661px $starColor,
        1867px 899px $starColor,
        1022px 514px $starColor,
        1062px 1570px $starColor,
        888px 1786px $starColor,
        699px 1738px $starColor,
        1831px 1712px $starColor,
        434px 18px $starColor,
        227px 205px $starColor,
        520px 1279px $starColor,
        1329px 764px $starColor,
        1824px 47px $starColor,
        112px 266px $starColor,
        830px 1140px $starColor,
        478px 637px $starColor,
        634px 850px $starColor,
        711px 873px $starColor,
        987px 249px $starColor,
        1454px 909px $starColor,
        699px 922px $starColor,
        1458px 1142px $starColor,
        701px 1893px $starColor,
        134px 384px $starColor,
        904px 354px $starColor,
        1913px 1229px $starColor,
        1606px 1336px $starColor,
        976px 1776px $starColor,
        1726px 605px $starColor,
        1244px 590px $starColor,
        1351px 526px $starColor,
        1997px 130px $starColor,
        1137px 1134px $starColor,
        1293px 283px $starColor,
        977px 1608px $starColor,
        422px 1252px $starColor,
        236px 1653px $starColor,
        28px 1722px $starColor,
        698px 39px $starColor,
        5px 434px $starColor,
        1430px 1466px $starColor,
        1470px 1596px $starColor,
        487px 81px $starColor,
        186px 340px $starColor,
        1941px 1px $starColor,
        1342px 487px $starColor,
        813px 1855px $starColor,
        1445px 148px $starColor,
        1965px 1428px $starColor,
        1122px 1277px $starColor,
        846px 820px $starColor,
        1804px 228px $starColor,
        1501px 121px $starColor,
        215px 1033px $starColor,
        244px 426px $starColor,
        976px 453px $starColor,
        566px 953px $starColor,
        1772px 213px $starColor,
        1323px 1778px $starColor,
        1350px 817px $starColor,
        803px 913px $starColor,
        1395px 1359px $starColor,
        1995px 119px $starColor,
        579px 1963px $starColor,
        862px 1621px $starColor,
        1718px 825px $starColor,
        823px 27px $starColor,
        1252px 41px $starColor,
        1562px 835px $starColor,
        1730px 633px $starColor,
        1723px 1939px $starColor,
        524px 1824px $starColor,
        1921px 1450px $starColor,
        1174px 1062px $starColor,
        1008px 1932px $starColor,
        467px 334px $starColor,
        80px 818px $starColor,
        1266px 1185px $starColor,
        1589px 807px $starColor,
        1221px 320px $starColor,
        1724px 852px $starColor,
        1194px 286px $starColor,
        800px 1835px $starColor,
        1958px 728px $starColor,
        1271px 376px $starColor,
        43px 1654px $starColor,
        77px 803px $starColor,
        1399px 197px $starColor,
        591px 1743px $starColor,
        652px 1925px $starColor,
        107px 1939px $starColor,
        1110px 1708px $starColor,
        797px 1480px $starColor,
        1516px 684px $starColor,
        559px 1733px $starColor,
        1265px 718px $starColor,
        1263px 54px $starColor,
        693px 113px $starColor,
        1456px 1459px $starColor,
        1527px 1324px $starColor;
}

@mixin star2() {
    box-shadow:
        1907px 1575px $starColor,
        893px 268px $starColor,
        1819px 666px $starColor,
        366px 1985px $starColor,
        1736px 1062px $starColor,
        1124px 45px $starColor,
        905px 1674px $starColor,
        1570px 711px $starColor,
        255px 1747px $starColor,
        147px 1032px $starColor,
        865px 1813px $starColor,
        1721px 1461px $starColor,
        202px 724px $starColor,
        1860px 812px $starColor,
        634px 1410px $starColor,
        927px 1264px $starColor,
        1648px 620px $starColor,
        1915px 1309px $starColor,
        731px 778px $starColor,
        91px 1185px $starColor,
        829px 1003px $starColor,
        174px 1784px $starColor,
        1094px 1874px $starColor,
        1464px 484px $starColor,
        1639px 1717px $starColor,
        959px 573px $starColor,
        1686px 1287px $starColor,
        906px 356px $starColor,
        970px 499px $starColor,
        626px 890px $starColor,
        1344px 1070px $starColor,
        1351px 544px $starColor,
        708px 68px $starColor,
        1870px 130px $starColor,
        556px 1270px $starColor,
        1432px 618px $starColor,
        769px 673px $starColor,
        1289px 1410px $starColor,
        1499px 1969px $starColor,
        749px 1163px $starColor,
        1198px 198px $starColor,
        399px 133px $starColor,
        1856px 1280px $starColor,
        904px 194px $starColor,
        973px 1107px $starColor,
        1371px 1785px $starColor,
        989px 1835px $starColor,
        1043px 1517px $starColor,
        787px 916px $starColor,
        1635px 1155px $starColor,
        752px 524px $starColor,
        1926px 1279px $starColor,
        1052px 1163px $starColor,
        719px 1963px $starColor,
        786px 519px $starColor,
        1440px 500px $starColor,
        156px 1265px $starColor,
        1691px 429px $starColor,
        1349px 1474px $starColor,
        736px 459px $starColor,
        248px 1678px $starColor,
        1136px 510px $starColor,
        1317px 10px $starColor,
        1209px 1323px $starColor,
        54px 469px $starColor,
        730px 1939px $starColor,
        960px 23px $starColor,
        112px 941px $starColor,
        1852px 1522px $starColor,
        1993px 1972px $starColor,
        265px 129px $starColor,
        222px 1897px $starColor,
        1766px 1804px $starColor,
        1530px 1786px $starColor,
        1045px 432px $starColor,
        1916px 1980px $starColor,
        309px 1780px $starColor,
        1420px 559px $starColor,
        1708px 103px $starColor,
        324px 1407px $starColor,
        1175px 943px $starColor,
        80px 1221px $starColor,
        1016px 1933px $starColor,
        318px 560px $starColor,
        190px 1489px $starColor,
        1095px 892px $starColor,
        1975px 1191px $starColor,
        1197px 955px $starColor,
        1482px 873px $starColor,
        1912px 300px $starColor,
        2000px 1636px $starColor,
        1473px 1808px $starColor,
        507px 192px $starColor,
        924px 1300px $starColor,
        1485px 1636px $starColor,
        41px 1822px $starColor,
        689px 120px $starColor,
        769px 273px $starColor,
        1039px 976px $starColor,
        1057px 1520px $starColor,
        1417px 1187px $starColor,
        512px 1507px $starColor,
        519px 45px $starColor,
        1207px 1687px $starColor,
        1824px 1488px $starColor,
        1694px 31px $starColor,
        1859px 52px $starColor,
        1368px 268px $starColor,
        190px 1404px $starColor,
        940px 1003px $starColor,
        167px 942px $starColor,
        1641px 647px $starColor,
        1051px 654px $starColor,
        233px 1640px $starColor,
        554px 511px $starColor,
        1705px 1866px $starColor,
        240px 1430px $starColor,
        140px 668px $starColor,
        648px 1617px $starColor,
        252px 101px $starColor,
        676px 1774px $starColor,
        889px 1698px $starColor,
        595px 853px $starColor,
        249px 1768px $starColor,
        1091px 1529px $starColor,
        223px 839px $starColor,
        239px 699px $starColor,
        1547px 356px $starColor,
        249px 1130px $starColor,
        1209px 1946px $starColor,
        1967px 1274px $starColor,
        430px 298px $starColor,
        1305px 134px $starColor,
        156px 91px $starColor,
        1712px 264px $starColor,
        1256px 991px $starColor,
        1887px 1844px $starColor,
        1957px 1275px $starColor,
        1718px 666px $starColor,
        1090px 543px $starColor,
        933px 1411px $starColor,
        801px 323px $starColor,
        202px 1659px $starColor,
        1117px 549px $starColor,
        290px 1859px $starColor,
        1380px 1516px $starColor,
        557px 1165px $starColor,
        1953px 1758px $starColor,
        1901px 1407px $starColor,
        1144px 347px $starColor,
        1640px 271px $starColor,
        1996px 43px $starColor,
        838px 488px $starColor,
        1151px 1529px $starColor,
        306px 460px $starColor,
        1666px 635px $starColor,
        1572px 633px $starColor,
        1797px 1076px $starColor,
        1727px 1119px $starColor,
        474px 871px $starColor,
        1491px 1398px $starColor,
        1301px 868px $starColor,
        1632px 454px $starColor,
        1611px 466px $starColor,
        498px 1162px $starColor,
        796px 269px $starColor,
        1988px 747px $starColor,
        502px 12px $starColor,
        276px 1260px $starColor,
        1536px 974px $starColor,
        956px 656px $starColor,
        107px 701px $starColor,
        965px 491px $starColor,
        1646px 247px $starColor,
        1515px 921px $starColor,
        1813px 519px $starColor,
        697px 143px $starColor,
        591px 1452px $starColor,
        1773px 1411px $starColor,
        1622px 1401px $starColor,
        534px 340px $starColor,
        1590px 284px $starColor,
        1464px 528px $starColor,
        734px 1718px $starColor,
        1929px 1683px $starColor,
        656px 480px $starColor,
        833px 705px $starColor,
        1567px 109px $starColor,
        1055px 330px $starColor,
        1943px 1367px $starColor,
        1935px 1512px $starColor,
        355px 1024px $starColor,
        1894px 218px $starColor,
        1703px 1772px $starColor,
        781px 1394px $starColor,
        367px 42px $starColor,
        100px 690px $starColor,
        1831px 458px $starColor,
        1884px 1878px $starColor,
        814px 1013px $starColor;

}

@mixin star3() {
    box-shadow:
        1994px 1692px $starColor,
        961px 1928px $starColor,
        819px 1320px $starColor,
        1899px 52px $starColor,
        28px 1937px $starColor,
        157px 88px $starColor,
        860px 1909px $starColor,
        720px 427px $starColor,
        1319px 1469px $starColor,
        677px 960px $starColor,
        1265px 1181px $starColor,
        1176px 1361px $starColor,
        1957px 753px $starColor,
        1674px 1355px $starColor,
        929px 1206px $starColor,
        1038px 898px $starColor,
        1229px 365px $starColor,
        1085px 51px $starColor,
        851px 650px $starColor,
        385px 21px $starColor,
        41px 1153px $starColor,
        718px 70px $starColor,
        1321px 579px $starColor,
        497px 1458px $starColor,
        1981px 813px $starColor,
        776px 1187px $starColor,
        1345px 31px $starColor,
        1571px 400px $starColor,
        339px 587px $starColor,
        146px 750px $starColor,
        64px 61px $starColor,
        307px 981px $starColor,
        388px 849px $starColor,
        1398px 936px $starColor,
        522px 765px $starColor,
        1146px 350px $starColor,
        19px 206px $starColor,
        1767px 319px $starColor,
        1203px 425px $starColor,
        1917px 1018px $starColor,
        91px 1401px $starColor,
        898px 697px $starColor,
        1712px 1121px $starColor,
        633px 1119px $starColor,
        137px 1266px $starColor,
        1006px 931px $starColor,
        1644px 1804px $starColor,
        1596px 1057px $starColor,
        1298px 543px $starColor,
        1505px 996px $starColor,
        1972px 1383px $starColor,
        1210px 1497px $starColor,
        804px 1840px $starColor,
        913px 1047px $starColor,
        187px 1824px $starColor,
        1564px 1994px $starColor,
        557px 1737px $starColor,
        508px 1609px $starColor,
        1259px 1911px $starColor,
        1294px 1381px $starColor,
        1845px 1843px $starColor,
        667px 1497px $starColor,
        1046px 945px $starColor,
        937px 1889px $starColor,
        982px 1806px $starColor,
        1293px 671px $starColor,
        668px 904px $starColor,
        358px 1971px $starColor,
        133px 766px $starColor,
        1152px 1573px $starColor,
        318px 694px $starColor,
        578px 1184px $starColor,
        1620px 1701px $starColor,
        1359px 354px $starColor,
        1807px 1367px $starColor,
        458px 911px $starColor,
        1387px 806px $starColor,
        523px 81px $starColor,
        1243px 341px $starColor,
        906px 1730px $starColor,
        1629px 474px $starColor,
        1690px 419px $starColor,
        847px 808px $starColor,
        528px 1627px $starColor,
        480px 718px $starColor,
        537px 593px $starColor,
        1432px 1333px $starColor,
        200px 1228px $starColor,
        1800px 1375px $starColor,
        725px 1231px $starColor,
        1749px 1432px $starColor,
        1948px 303px $starColor,
        1889px 252px $starColor,
        1114px 1400px $starColor,
        759px 646px $starColor,
        222px 571px $starColor,
        1908px 1401px $starColor,
        1856px 1204px $starColor,
        338px 1645px $starColor,
        1528px 1050px $starColor;
}

.full-of-stars,
#error-page body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100%;
    overflow: hidden;

    .star-1,
    .star-2,
    .star-3 {
        background: transparent;
    }

    .star-1:after,
    .star-2:after,
    .star-3:after {
        background: transparent;
        content: " ";
        position: absolute;
        top: 2000px;
    }

    .star-1 {
        width: 1px;
        height: 1px;

        @include star1();
        animation: animate_star 150s linear infinite;

        &:after {
            width: 1px;
            height: 1px;
            @include star1();
        }
    }

    .star-2 {
        width: 2px;
        height: 2px;
        @include star2();
        animation: animate_star 100s linear infinite;

        &:after {
            width: 2px;
            height: 2px;
            @include star2();
        }
    }

    .star-3 {
        width: 3px;
        height: 3px;
        @include star3();
        animation: animate_star 50s linear infinite;

        &:after {
            width: 3px;
            height: 3px;
            @include star3();
        }
    }
}

@keyframes animate_star {
    from { transform: translateY(0px); }
    to { transform: translateY(-2000px); }
}
