
// Status blocks
.status-block,
.status-block--info,
.status-block--success,
.status-block--error,
.status-block--notice,
.status-block--warning {
    color: $white;
    font-size: 75%;
    line-height: ms(6);
    padding: ms(-6);
    white-space: nowrap;
}

.status-block--info { background-color: $grey; }
.status-block--success { background-color: $success-color; }
.status-block--error { background-color: $error-color; }
.status-block--notice { background-color: $blue; }
.status-block--warning { background-color: $warning-color; }

// Status icons
@mixin status {
    content: '';
    display: inline-block;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    margin-right: .25em;
}

@mixin status-bg($color) {
    &:before {
        background-color: $color;
    }
}

.status-icon--info,
.status-icon--success,
.status-icon--error,
.status-icon--notice,
.status-icon--warning,
.status-icon--thinking {
    &:before {
        @include status;
    }
}

.status-icon--info { @include status-bg($grey); }
.status-icon--success { @include status-bg($success-color); }
.status-icon--error { @include status-bg($error-color); }
.status-icon--notice { @include status-bg($blue); }
.status-icon--warning { @include status-bg($warning-color); }
.status-icon--thinking {
    transform: translateZ(0);
    position: relative;
    &:before {
        animation:spin 1s infinite linear;
        background: white;
        border: .18em solid $grey;
        border-left-color: $warning-color;
    }
}

@keyframes spin {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}
