$star-color: #fff;

@mixin star1() {
    box-shadow:
    1744px 122px $star-color,
    134px 1321px $star-color,
    92px 859px $star-color,
    235px 1045px $star-color,
    366px 912px $star-color,
    491px 942px $star-color,
    14px 1831px $star-color,
    582px 476px $star-color,
    588px 1230px $star-color,
    1520px 1343px $star-color,
    1671px 203px $star-color,
    550px 341px $star-color,
    1491px 549px $star-color,
    558px 161px $star-color,
    896px 1823px $star-color,
    999px 1463px $star-color,
    1557px 636px $star-color,
    1754px 1307px $star-color,
    1682px 1494px $star-color,
    703px 1707px $star-color,
    1945px 1847px $star-color,
    1151px 1320px $star-color,
    980px 144px $star-color,
    478px 948px $star-color,
    109px 1762px $star-color,
    558px 255px $star-color,
    719px 1820px $star-color,
    588px 748px $star-color,
    1899px 174px $star-color,
    841px 1771px $star-color,
    571px 1588px $star-color,
    1155px 353px $star-color,
    1879px 1220px $star-color,
    1782px 870px $star-color,
    407px 1238px $star-color,
    1141px 63px $star-color,
    1147px 1097px $star-color,
    1406px 159px $star-color,
    637px 1215px $star-color,
    694px 1114px $star-color,
    1536px 727px $star-color,
    1708px 1512px $star-color,
    1147px 880px $star-color,
    684px 988px $star-color,
    140px 851px $star-color,
    1565px 1788px $star-color,
    1573px 889px $star-color,
    1172px 628px $star-color,
    1474px 1978px $star-color,
    435px 447px $star-color,
    185px 1808px $star-color,
    620px 1560px $star-color,
    1387px 1196px $star-color,
    138px 1854px $star-color,
    137px 1499px $star-color,
    1721px 1132px $star-color,
    10px 32px $star-color,
    1931px 1990px $star-color,
    209px 91px $star-color,
    1876px 1795px $star-color,
    1130px 1551px $star-color,
    284px 1848px $star-color,
    389px 1603px $star-color,
    612px 1121px $star-color,
    825px 1926px $star-color,
    161px 344px $star-color,
    1729px 333px $star-color,
    1037px 37px $star-color,
    844px 1085px $star-color,
    1179px 554px $star-color,
    50px 478px $star-color,
    1864px 704px $star-color,
    233px 723px $star-color,
    1202px 445px $star-color,
    882px 189px $star-color,
    362px 735px $star-color,
    924px 411px $star-color,
    902px 209px $star-color,
    104px 185px $star-color,
    1599px 1852px $star-color,
    1974px 944px $star-color,
    438px 1164px $star-color,
    401px 1533px $star-color,
    191px 1429px $star-color,
    251px 1034px $star-color,
    1807px 1412px $star-color,
    72px 23px $star-color,
    1752px 1146px $star-color,
    261px 1481px $star-color,
    548px 33px $star-color,
    710px 1204px $star-color,
    355px 1697px $star-color,
    581px 100px $star-color,
    318px 1146px $star-color,
    929px 79px $star-color,
    999px 347px $star-color,
    155px 292px $star-color,
    271px 677px $star-color,
    920px 1596px $star-color,
    1736px 184px $star-color,
    1022px 1790px $star-color,
    1465px 1762px $star-color,
    820px 526px $star-color,
    175px 37px $star-color,
    440px 746px $star-color,
    681px 1879px $star-color,
    690px 1135px $star-color,
    1960px 1453px $star-color,
    422px 856px $star-color,
    1217px 1232px $star-color,
    1015px 1695px $star-color,
    1933px 492px $star-color,
    272px 448px $star-color,
    1578px 1487px $star-color,
    437px 874px $star-color,
    947px 838px $star-color,
    1339px 867px $star-color,
    1484px 773px $star-color,
    764px 66px $star-color,
    418px 707px $star-color,
    192px 1909px $star-color,
    1629px 215px $star-color,
    171px 260px $star-color,
    1180px 220px $star-color,
    488px 857px $star-color,
    593px 493px $star-color,
    1794px 886px $star-color,
    1673px 1977px $star-color,
    905px 1193px $star-color,
    1372px 1843px $star-color,
    1605px 908px $star-color,
    659px 181px $star-color,
    700px 1758px $star-color,
    812px 1200px $star-color,
    1800px 1440px $star-color,
    1858px 212px $star-color,
    628px 1026px $star-color,
    1825px 1556px $star-color,
    1641px 1750px $star-color,
    1195px 1086px $star-color,
    1465px 558px $star-color,
    1634px 436px $star-color,
    1354px 1831px $star-color,
    1212px 1485px $star-color,
    1491px 994px $star-color,
    604px 1279px $star-color,
    413px 1131px $star-color,
    1677px 1086px $star-color,
    841px 47px $star-color,
    146px 489px $star-color,
    117px 1195px $star-color,
    67px 47px $star-color,
    883px 258px $star-color,
    1801px 1294px $star-color,
    594px 1870px $star-color,
    649px 531px $star-color,
    721px 132px $star-color,
    975px 1616px $star-color,
    716px 94px $star-color,
    295px 791px $star-color,
    174px 1814px $star-color,
    1130px 298px $star-color,
    1747px 1835px $star-color,
    605px 1521px $star-color,
    78px 743px $star-color,
    1685px 311px $star-color,
    804px 341px $star-color,
    1440px 852px $star-color,
    1607px 1692px $star-color,
    698px 1112px $star-color,
    1153px 1608px $star-color,
    539px 999px $star-color,
    262px 353px $star-color,
    457px 1246px $star-color,
    1858px 998px $star-color,
    364px 431px $star-color,
    1907px 912px $star-color,
    541px 916px $star-color,
    168px 1384px $star-color,
    357px 1321px $star-color,
    1859px 1866px $star-color,
    1001px 909px $star-color,
    842px 1663px $star-color,
    369px 1176px $star-color,
    932px 1372px $star-color,
    1606px 732px $star-color,
    1844px 857px $star-color,
    974px 1588px $star-color,
    804px 1139px $star-color,
    65px 1213px $star-color,
    1066px 863px $star-color,
    1991px 1734px $star-color,
    300px 738px $star-color,
    1260px 1141px $star-color,
    83px 260px $star-color,
    1219px 167px $star-color,
    613px 990px $star-color,
    873px 81px $star-color,
    362px 235px $star-color,
    373px 372px $star-color,
    80px 247px $star-color,
    902px 1141px $star-color,
    294px 464px $star-color,
    766px 1925px $star-color,
    1151px 1305px $star-color,
    1250px 1593px $star-color,
    1289px 119px $star-color,
    1525px 1505px $star-color,
    234px 1306px $star-color,
    571px 858px $star-color,
    571px 996px $star-color,
    766px 1342px $star-color,
    1371px 716px $star-color,
    711px 1939px $star-color,
    904px 1797px $star-color,
    424px 1710px $star-color,
    762px 1614px $star-color,
    1389px 1290px $star-color,
    905px 689px $star-color,
    352px 38px $star-color,
    2000px 1317px $star-color,
    597px 864px $star-color,
    824px 711px $star-color,
    966px 1060px $star-color,
    958px 992px $star-color,
    1121px 324px $star-color,
    1624px 688px $star-color,
    1737px 702px $star-color,
    1566px 1344px $star-color,
    697px 368px $star-color,
    291px 1126px $star-color,
    1732px 50px $star-color,
    712px 1941px $star-color,
    1257px 372px $star-color,
    317px 1462px $star-color,
    222px 309px $star-color,
    1139px 647px $star-color,
    170px 878px $star-color,
    1272px 1511px $star-color,
    1009px 1912px $star-color,
    1875px 1105px $star-color,
    1968px 1370px $star-color,
    1193px 687px $star-color,
    1498px 611px $star-color,
    247px 1993px $star-color,
    1686px 1611px $star-color,
    937px 340px $star-color,
    114px 1423px $star-color,
    496px 1191px $star-color,
    110px 1284px $star-color,
    876px 687px $star-color,
    1173px 214px $star-color,
    210px 628px $star-color,
    302px 1173px $star-color,
    1318px 939px $star-color,
    1665px 1310px $star-color,
    66px 338px $star-color,
    1355px 615px $star-color,
    1139px 1672px $star-color,
    91px 1000px $star-color,
    112px 422px $star-color,
    89px 503px $star-color,
    97px 1599px $star-color,
    1031px 1955px $star-color,
    1755px 1532px $star-color,
    1764px 1930px $star-color,
    1822px 1751px $star-color,
    133px 401px $star-color,
    718px 85px $star-color,
    1797px 78px $star-color,
    520px 1725px $star-color,
    226px 406px $star-color,
    1561px 1574px $star-color,
    340px 1602px $star-color,
    718px 976px $star-color,
    1823px 570px $star-color,
    1298px 484px $star-color,
    1023px 1903px $star-color,
    1266px 1334px $star-color,
    763px 877px $star-color,
    223px 631px $star-color,
    1761px 1293px $star-color,
    878px 1px $star-color,
    973px 696px $star-color,
    975px 1841px $star-color,
    1276px 302px $star-color,
    1399px 1324px $star-color,
    1706px 872px $star-color,
    341px 1960px $star-color,
    1384px 1655px $star-color,
    1897px 767px $star-color,
    68px 405px $star-color,
    705px 310px $star-color,
    194px 103px $star-color,
    1432px 368px $star-color,
    1262px 1682px $star-color,
    1933px 1526px $star-color,
    263px 655px $star-color,
    1031px 1031px $star-color,
    1557px 788px $star-color,
    1558px 1360px $star-color,
    812px 421px $star-color,
    1951px 734px $star-color,
    1567px 498px $star-color,
    1832px 1229px $star-color,
    913px 164px $star-color,
    1907px 1273px $star-color,
    533px 749px $star-color,
    1235px 951px $star-color,
    645px 1959px $star-color,
    92px 1570px $star-color,
    1169px 1434px $star-color,
    118px 1223px $star-color,
    583px 957px $star-color,
    1245px 316px $star-color,
    527px 863px $star-color,
    372px 1007px $star-color,
    244px 1251px $star-color,
    314px 494px $star-color,
    1842px 1463px $star-color,
    1315px 730px $star-color,
    1655px 1366px $star-color,
    482px 979px $star-color,
    340px 1808px $star-color,
    256px 578px $star-color,
    858px 1792px $star-color,
    1965px 403px $star-color,
    454px 253px $star-color,
    1664px 698px $star-color,
    1974px 750px $star-color,
    262px 1801px $star-color,
    1652px 1076px $star-color,
    992px 711px $star-color,
    1792px 1323px $star-color,
    700px 1748px $star-color,
    855px 966px $star-color,
    1833px 1747px $star-color,
    402px 1272px $star-color,
    1391px 1039px $star-color,
    1395px 1538px $star-color,
    397px 1972px $star-color,
    744px 1403px $star-color,
    1784px 1046px $star-color,
    111px 198px $star-color,
    1827px 473px $star-color,
    1347px 1891px $star-color,
    1238px 1081px $star-color,
    189px 908px $star-color,
    1513px 542px $star-color,
    673px 981px $star-color,
    720px 1184px $star-color,
    373px 792px $star-color,
    1470px 1631px $star-color,
    16px 822px $star-color,
    1935px 829px $star-color,
    364px 613px $star-color,
    223px 899px $star-color,
    1233px 874px $star-color,
    1441px 1834px $star-color,
    719px 894px $star-color,
    76px 1610px $star-color,
    296px 685px $star-color,
    572px 1637px $star-color,
    349px 114px $star-color,
    1670px 1802px $star-color,
    979px 928px $star-color,
    1589px 574px $star-color,
    756px 194px $star-color,
    616px 507px $star-color,
    271px 186px $star-color,
    198px 360px $star-color,
    1916px 418px $star-color,
    721px 667px $star-color,
    1937px 1908px $star-color,
    17px 556px $star-color,
    345px 443px $star-color,
    718px 760px $star-color,
    1922px 310px $star-color,
    1185px 887px $star-color,
    1745px 1848px $star-color,
    909px 847px $star-color,
    1170px 134px $star-color,
    1773px 1133px $star-color,
    1099px 233px $star-color,
    1122px 1524px $star-color,
    866px 907px $star-color,
    398px 213px $star-color,
    1287px 886px $star-color,
    1194px 149px $star-color,
    1876px 1667px $star-color,
    332px 1658px $star-color,
    146px 1253px $star-color,
    958px 211px $star-color,
    643px 47px $star-color,
    1213px 1339px $star-color,
    1637px 1939px $star-color,
    1601px 355px $star-color,
    256px 1982px $star-color,
    989px 1609px $star-color,
    1179px 701px $star-color,
    685px 1463px $star-color,
    1910px 465px $star-color,
    764px 1930px $star-color,
    1856px 433px $star-color,
    720px 367px $star-color,
    1821px 416px $star-color,
    48px 1114px $star-color,
    716px 489px $star-color,
    174px 1972px $star-color,
    115px 1373px $star-color,
    1487px 141px $star-color,
    1919px 1362px $star-color,
    1662px 859px $star-color,
    1168px 490px $star-color,
    706px 1820px $star-color,
    588px 318px $star-color,
    107px 778px $star-color,
    621px 1667px $star-color,
    1331px 1996px $star-color,
    1404px 1154px $star-color,
    860px 1019px $star-color,
    1385px 1883px $star-color,
    1066px 1951px $star-color,
    752px 444px $star-color,
    955px 1031px $star-color,
    1256px 1899px $star-color,
    961px 1455px $star-color,
    1101px 84px $star-color,
    890px 335px $star-color,
    798px 40px $star-color,
    138px 54px $star-color,
    1934px 252px $star-color,
    429px 324px $star-color,
    1645px 1522px $star-color,
    218px 737px $star-color,
    1625px 531px $star-color,
    605px 1290px $star-color,
    1867px 648px $star-color,
    82px 1137px $star-color,
    231px 1423px $star-color,
    471px 944px $star-color,
    1363px 1752px $star-color,
    482px 1364px $star-color,
    1305px 627px $star-color,
    1065px 891px $star-color,
    217px 1841px $star-color,
    1843px 1501px $star-color,
    1681px 734px $star-color,
    185px 856px $star-color,
    609px 1094px $star-color,
    49px 1657px $star-color,
    783px 594px $star-color,
    1018px 1123px $star-color,
    644px 1149px $star-color,
    739px 1262px $star-color,
    1439px 1187px $star-color,
    1789px 1507px $star-color,
    941px 791px $star-color,
    1319px 1308px $star-color,
    498px 626px $star-color,
    1594px 858px $star-color,
    783px 71px $star-color,
    576px 1976px $star-color,
    1625px 696px $star-color,
    1821px 352px $star-color,
    1039px 885px $star-color,
    208px 430px $star-color,
    124px 198px $star-color,
    1964px 686px $star-color,
    1440px 1952px $star-color,
    231px 1435px $star-color,
    1846px 853px $star-color,
    1174px 536px $star-color,
    1228px 310px $star-color,
    1380px 699px $star-color,
    1116px 169px $star-color,
    1416px 1007px $star-color,
    178px 192px $star-color,
    1302px 1903px $star-color,
    1892px 154px $star-color,
    962px 1032px $star-color,
    1009px 1916px $star-color,
    1549px 1206px $star-color,
    899px 968px $star-color,
    902px 543px $star-color,
    1516px 542px $star-color,
    965px 527px $star-color,
    1594px 696px $star-color,
    856px 1719px $star-color,
    1522px 248px $star-color,
    1795px 283px $star-color,
    1144px 946px $star-color,
    1365px 199px $star-color,
    359px 1347px $star-color,
    1506px 263px $star-color,
    433px 1793px $star-color,
    201px 247px $star-color,
    942px 838px $star-color,
    1122px 1065px $star-color,
    1997px 108px $star-color,
    306px 989px $star-color,
    641px 1713px $star-color,
    1072px 959px $star-color,
    1874px 1079px $star-color,
    1938px 269px $star-color,
    891px 389px $star-color,
    22px 574px $star-color,
    727px 474px $star-color,
    1671px 1649px $star-color,
    98px 400px $star-color,
    641px 798px $star-color,
    1218px 1051px $star-color,
    907px 1485px $star-color,
    1002px 1549px $star-color,
    1932px 1448px $star-color,
    1132px 573px $star-color,
    1222px 1147px $star-color,
    1009px 451px $star-color,
    698px 1940px $star-color,
    97px 1123px $star-color,
    904px 751px $star-color,
    1904px 593px $star-color,
    1451px 1658px $star-color,
    191px 1606px $star-color,
    1346px 482px $star-color,
    1935px 1086px $star-color,
    1052px 224px $star-color,
    526px 1810px $star-color,
    1607px 606px $star-color,
    427px 1830px $star-color,
    1546px 407px $star-color,
    1771px 208px $star-color,
    1714px 181px $star-color,
    1332px 943px $star-color,
    1663px 1094px $star-color,
    1861px 1747px $star-color,
    1429px 1217px $star-color,
    1733px 1915px $star-color,
    925px 1179px $star-color,
    735px 781px $star-color,
    1775px 1989px $star-color,
    1770px 476px $star-color,
    844px 400px $star-color,
    1793px 1517px $star-color,
    544px 281px $star-color,
    725px 344px $star-color,
    1274px 764px $star-color,
    1845px 339px $star-color,
    582px 1745px $star-color,
    351px 1287px $star-color,
    207px 749px $star-color,
    1063px 1411px $star-color,
    1246px 342px $star-color,
    1538px 166px $star-color,
    770px 602px $star-color,
    1214px 1971px $star-color,
    113px 294px $star-color,
    1157px 101px $star-color,
    1657px 517px $star-color,
    637px 1693px $star-color,
    961px 1649px $star-color,
    1754px 1572px $star-color,
    1885px 659px $star-color,
    238px 34px $star-color,
    413px 1027px $star-color,
    1709px 1556px $star-color,
    460px 878px $star-color,
    1597px 608px $star-color,
    544px 434px $star-color,
    1258px 477px $star-color,
    565px 1863px $star-color,
    426px 322px $star-color,
    1917px 850px $star-color,
    296px 144px $star-color,
    643px 1896px $star-color,
    511px 116px $star-color,
    359px 847px $star-color,
    702px 1133px $star-color,
    857px 1371px $star-color,
    559px 1758px $star-color,
    1615px 1223px $star-color,
    1927px 1736px $star-color,
    704px 941px $star-color,
    1932px 942px $star-color,
    1462px 335px $star-color,
    154px 1915px $star-color,
    1387px 918px $star-color,
    1512px 1041px $star-color,
    1094px 1334px $star-color,
    1678px 865px $star-color,
    1960px 431px $star-color,
    666px 1258px $star-color,
    422px 1215px $star-color,
    345px 802px $star-color,
    1207px 647px $star-color,
    1701px 374px $star-color,
    1440px 1925px $star-color,
    1536px 1163px $star-color,
    905px 155px $star-color,
    843px 1036px $star-color,
    660px 823px $star-color,
    1329px 661px $star-color,
    1867px 899px $star-color,
    1022px 514px $star-color,
    1062px 1570px $star-color,
    888px 1786px $star-color,
    699px 1738px $star-color,
    1831px 1712px $star-color,
    434px 18px $star-color,
    227px 205px $star-color,
    520px 1279px $star-color,
    1329px 764px $star-color,
    1824px 47px $star-color,
    112px 266px $star-color,
    830px 1140px $star-color,
    478px 637px $star-color,
    634px 850px $star-color,
    711px 873px $star-color,
    987px 249px $star-color,
    1454px 909px $star-color,
    699px 922px $star-color,
    1458px 1142px $star-color,
    701px 1893px $star-color,
    134px 384px $star-color,
    904px 354px $star-color,
    1913px 1229px $star-color,
    1606px 1336px $star-color,
    976px 1776px $star-color,
    1726px 605px $star-color,
    1244px 590px $star-color,
    1351px 526px $star-color,
    1997px 130px $star-color,
    1137px 1134px $star-color,
    1293px 283px $star-color,
    977px 1608px $star-color,
    422px 1252px $star-color,
    236px 1653px $star-color,
    28px 1722px $star-color,
    698px 39px $star-color,
    5px 434px $star-color,
    1430px 1466px $star-color,
    1470px 1596px $star-color,
    487px 81px $star-color,
    186px 340px $star-color,
    1941px 1px $star-color,
    1342px 487px $star-color,
    813px 1855px $star-color,
    1445px 148px $star-color,
    1965px 1428px $star-color,
    1122px 1277px $star-color,
    846px 820px $star-color,
    1804px 228px $star-color,
    1501px 121px $star-color,
    215px 1033px $star-color,
    244px 426px $star-color,
    976px 453px $star-color,
    566px 953px $star-color,
    1772px 213px $star-color,
    1323px 1778px $star-color,
    1350px 817px $star-color,
    803px 913px $star-color,
    1395px 1359px $star-color,
    1995px 119px $star-color,
    579px 1963px $star-color,
    862px 1621px $star-color,
    1718px 825px $star-color,
    823px 27px $star-color,
    1252px 41px $star-color,
    1562px 835px $star-color,
    1730px 633px $star-color,
    1723px 1939px $star-color,
    524px 1824px $star-color,
    1921px 1450px $star-color,
    1174px 1062px $star-color,
    1008px 1932px $star-color,
    467px 334px $star-color,
    80px 818px $star-color,
    1266px 1185px $star-color,
    1589px 807px $star-color,
    1221px 320px $star-color,
    1724px 852px $star-color,
    1194px 286px $star-color,
    800px 1835px $star-color,
    1958px 728px $star-color,
    1271px 376px $star-color,
    43px 1654px $star-color,
    77px 803px $star-color,
    1399px 197px $star-color,
    591px 1743px $star-color,
    652px 1925px $star-color,
    107px 1939px $star-color,
    1110px 1708px $star-color,
    797px 1480px $star-color,
    1516px 684px $star-color,
    559px 1733px $star-color,
    1265px 718px $star-color,
    1263px 54px $star-color,
    693px 113px $star-color,
    1456px 1459px $star-color,
    1527px 1324px $star-color;
}

@mixin star2() {
box-shadow:
    1907px 1575px $star-color,
    893px 268px $star-color,
    1819px 666px $star-color,
    366px 1985px $star-color,
    1736px 1062px $star-color,
    1124px 45px $star-color,
    905px 1674px $star-color,
    1570px 711px $star-color,
    255px 1747px $star-color,
    147px 1032px $star-color,
    865px 1813px $star-color,
    1721px 1461px $star-color,
    202px 724px $star-color,
    1860px 812px $star-color,
    634px 1410px $star-color,
    927px 1264px $star-color,
    1648px 620px $star-color,
    1915px 1309px $star-color,
    731px 778px $star-color,
    91px 1185px $star-color,
    829px 1003px $star-color,
    174px 1784px $star-color,
    1094px 1874px $star-color,
    1464px 484px $star-color,
    1639px 1717px $star-color,
    959px 573px $star-color,
    1686px 1287px $star-color,
    906px 356px $star-color,
    970px 499px $star-color,
    626px 890px $star-color,
    1344px 1070px $star-color,
    1351px 544px $star-color,
    708px 68px $star-color,
    1870px 130px $star-color,
    556px 1270px $star-color,
    1432px 618px $star-color,
    769px 673px $star-color,
    1289px 1410px $star-color,
    1499px 1969px $star-color,
    749px 1163px $star-color,
    1198px 198px $star-color,
    399px 133px $star-color,
    1856px 1280px $star-color,
    904px 194px $star-color,
    973px 1107px $star-color,
    1371px 1785px $star-color,
    989px 1835px $star-color,
    1043px 1517px $star-color,
    787px 916px $star-color,
    1635px 1155px $star-color,
    752px 524px $star-color,
    1926px 1279px $star-color,
    1052px 1163px $star-color,
    719px 1963px $star-color,
    786px 519px $star-color,
    1440px 500px $star-color,
    156px 1265px $star-color,
    1691px 429px $star-color,
    1349px 1474px $star-color,
    736px 459px $star-color,
    248px 1678px $star-color,
    1136px 510px $star-color,
    1317px 10px $star-color,
    1209px 1323px $star-color,
    54px 469px $star-color,
    730px 1939px $star-color,
    960px 23px $star-color,
    112px 941px $star-color,
    1852px 1522px $star-color,
    1993px 1972px $star-color,
    265px 129px $star-color,
    222px 1897px $star-color,
    1766px 1804px $star-color,
    1530px 1786px $star-color,
    1045px 432px $star-color,
    1916px 1980px $star-color,
    309px 1780px $star-color,
    1420px 559px $star-color,
    1708px 103px $star-color,
    324px 1407px $star-color,
    1175px 943px $star-color,
    80px 1221px $star-color,
    1016px 1933px $star-color,
    318px 560px $star-color,
    190px 1489px $star-color,
    1095px 892px $star-color,
    1975px 1191px $star-color,
    1197px 955px $star-color,
    1482px 873px $star-color,
    1912px 300px $star-color,
    2000px 1636px $star-color,
    1473px 1808px $star-color,
    507px 192px $star-color,
    924px 1300px $star-color,
    1485px 1636px $star-color,
    41px 1822px $star-color,
    689px 120px $star-color,
    769px 273px $star-color,
    1039px 976px $star-color,
    1057px 1520px $star-color,
    1417px 1187px $star-color,
    512px 1507px $star-color,
    519px 45px $star-color,
    1207px 1687px $star-color,
    1824px 1488px $star-color,
    1694px 31px $star-color,
    1859px 52px $star-color,
    1368px 268px $star-color,
    190px 1404px $star-color,
    940px 1003px $star-color,
    167px 942px $star-color,
    1641px 647px $star-color,
    1051px 654px $star-color,
    233px 1640px $star-color,
    554px 511px $star-color,
    1705px 1866px $star-color,
    240px 1430px $star-color,
    140px 668px $star-color,
    648px 1617px $star-color,
    252px 101px $star-color,
    676px 1774px $star-color,
    889px 1698px $star-color,
    595px 853px $star-color,
    249px 1768px $star-color,
    1091px 1529px $star-color,
    223px 839px $star-color,
    239px 699px $star-color,
    1547px 356px $star-color,
    249px 1130px $star-color,
    1209px 1946px $star-color,
    1967px 1274px $star-color,
    430px 298px $star-color,
    1305px 134px $star-color,
    156px 91px $star-color,
    1712px 264px $star-color,
    1256px 991px $star-color,
    1887px 1844px $star-color,
    1957px 1275px $star-color,
    1718px 666px $star-color,
    1090px 543px $star-color,
    933px 1411px $star-color,
    801px 323px $star-color,
    202px 1659px $star-color,
    1117px 549px $star-color,
    290px 1859px $star-color,
    1380px 1516px $star-color,
    557px 1165px $star-color,
    1953px 1758px $star-color,
    1901px 1407px $star-color,
    1144px 347px $star-color,
    1640px 271px $star-color,
    1996px 43px $star-color,
    838px 488px $star-color,
    1151px 1529px $star-color,
    306px 460px $star-color,
    1666px 635px $star-color,
    1572px 633px $star-color,
    1797px 1076px $star-color,
    1727px 1119px $star-color,
    474px 871px $star-color,
    1491px 1398px $star-color,
    1301px 868px $star-color,
    1632px 454px $star-color,
    1611px 466px $star-color,
    498px 1162px $star-color,
    796px 269px $star-color,
    1988px 747px $star-color,
    502px 12px $star-color,
    276px 1260px $star-color,
    1536px 974px $star-color,
    956px 656px $star-color,
    107px 701px $star-color,
    965px 491px $star-color,
    1646px 247px $star-color,
    1515px 921px $star-color,
    1813px 519px $star-color,
    697px 143px $star-color,
    591px 1452px $star-color,
    1773px 1411px $star-color,
    1622px 1401px $star-color,
    534px 340px $star-color,
    1590px 284px $star-color,
    1464px 528px $star-color,
    734px 1718px $star-color,
    1929px 1683px $star-color,
    656px 480px $star-color,
    833px 705px $star-color,
    1567px 109px $star-color,
    1055px 330px $star-color,
    1943px 1367px $star-color,
    1935px 1512px $star-color,
    355px 1024px $star-color,
    1894px 218px $star-color,
    1703px 1772px $star-color,
    781px 1394px $star-color,
    367px 42px $star-color,
    100px 690px $star-color,
    1831px 458px $star-color,
    1884px 1878px $star-color,
    814px 1013px $star-color;

}

@mixin star3() {
    box-shadow:
    1994px 1692px $star-color,
    961px 1928px $star-color,
    819px 1320px $star-color,
    1899px 52px $star-color,
    28px 1937px $star-color,
    157px 88px $star-color,
    860px 1909px $star-color,
    720px 427px $star-color,
    1319px 1469px $star-color,
    677px 960px $star-color,
    1265px 1181px $star-color,
    1176px 1361px $star-color,
    1957px 753px $star-color,
    1674px 1355px $star-color,
    929px 1206px $star-color,
    1038px 898px $star-color,
    1229px 365px $star-color,
    1085px 51px $star-color,
    851px 650px $star-color,
    385px 21px $star-color,
    41px 1153px $star-color,
    718px 70px $star-color,
    1321px 579px $star-color,
    497px 1458px $star-color,
    1981px 813px $star-color,
    776px 1187px $star-color,
    1345px 31px $star-color,
    1571px 400px $star-color,
    339px 587px $star-color,
    146px 750px $star-color,
    64px 61px $star-color,
    307px 981px $star-color,
    388px 849px $star-color,
    1398px 936px $star-color,
    522px 765px $star-color,
    1146px 350px $star-color,
    19px 206px $star-color,
    1767px 319px $star-color,
    1203px 425px $star-color,
    1917px 1018px $star-color,
    91px 1401px $star-color,
    898px 697px $star-color,
    1712px 1121px $star-color,
    633px 1119px $star-color,
    137px 1266px $star-color,
    1006px 931px $star-color,
    1644px 1804px $star-color,
    1596px 1057px $star-color,
    1298px 543px $star-color,
    1505px 996px $star-color,
    1972px 1383px $star-color,
    1210px 1497px $star-color,
    804px 1840px $star-color,
    913px 1047px $star-color,
    187px 1824px $star-color,
    1564px 1994px $star-color,
    557px 1737px $star-color,
    508px 1609px $star-color,
    1259px 1911px $star-color,
    1294px 1381px $star-color,
    1845px 1843px $star-color,
    667px 1497px $star-color,
    1046px 945px $star-color,
    937px 1889px $star-color,
    982px 1806px $star-color,
    1293px 671px $star-color,
    668px 904px $star-color,
    358px 1971px $star-color,
    133px 766px $star-color,
    1152px 1573px $star-color,
    318px 694px $star-color,
    578px 1184px $star-color,
    1620px 1701px $star-color,
    1359px 354px $star-color,
    1807px 1367px $star-color,
    458px 911px $star-color,
    1387px 806px $star-color,
    523px 81px $star-color,
    1243px 341px $star-color,
    906px 1730px $star-color,
    1629px 474px $star-color,
    1690px 419px $star-color,
    847px 808px $star-color,
    528px 1627px $star-color,
    480px 718px $star-color,
    537px 593px $star-color,
    1432px 1333px $star-color,
    200px 1228px $star-color,
    1800px 1375px $star-color,
    725px 1231px $star-color,
    1749px 1432px $star-color,
    1948px 303px $star-color,
    1889px 252px $star-color,
    1114px 1400px $star-color,
    759px 646px $star-color,
    222px 571px $star-color,
    1908px 1401px $star-color,
    1856px 1204px $star-color,
    338px 1645px $star-color,
    1528px 1050px $star-color;
}

.full-of-stars,
#error-page body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100%;
    overflow: hidden;

    .star-1,
    .star-2,
    .star-3 {
        background: transparent;
    }

    .star-1:after,
    .star-2:after,
    .star-3:after {
        background: transparent;
        content: " ";
        position: absolute;
        top: 2000px;
    }

    .star-1 {
        width: 1px;
        height: 1px;

        @include star1();
        animation: animate_star 150s linear infinite;

        &:after {
            width: 1px;
            height: 1px;
            @include star1();
        }
    }

    .star-2 {
        width: 2px;
        height: 2px;
        @include star2();
        animation: animate_star 100s linear infinite;

        &:after {
            width: 2px;
            height: 2px;
            @include star2();
        }
    }

    .star-3 {
        width: 3px;
        height: 3px;
        @include star3();
        animation: animate_star 50s linear infinite;

        &:after {
            width: 3px;
            height: 3px;
            @include star3();
        }
    }
}

@keyframes animate_star {
    from { transform: translateY(0px); }
    to { transform: translateY(-2000px); }
}
