pre, code {
    @include adjust-font-size-to(ms(-1));
    font-family: menlo, monospace, sans-serif;

    color: $red;
    background: $light-grey;
    margin: 0;
    padding: ms(-11);
    text-align: left;
}

code {
    padding: ms(-9);
}

pre {
    white-space: pre;
    word-wrap: normal;
    // overflow-x: auto;
}

.code_clear {
    background: transparent;
}

.pre-ansi pre {
    background: black;
}
.pre-solarized pre {
    background: #073642;
}

// this is stupid, but will allow auto-overflowing of contained pre's without mangling its whitespace
.pre-wrapper {
    display: inline-table;
    table-layout: fixed;

    width: 100%;

    margin: 0;
    padding: 0;
}

// This allows for dynamically overflowed <code>. Must be wrapped in a block-type element
.code_fixed {
    overflow: hidden;
}

.code_fixed code {
    position: relative;
    white-space: nowrap;
}
