pre {
    @include trailer;
}

pre, code {
    font-family: menlo, monospace, sans-serif;
}

code {
    color: $red;
    background: $light-grey;
    padding: .2em;
}

pre {
    color: $red;
    background: $light-grey;
    margin: 0;
    padding: .2em;

    @include adjust-font-size-to(ms(-2));
    text-align: left;

    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
}

pre.line-wrap {
    white-space: pre-line;
}

.pre-ansi pre {
    background: black;
}
.pre-solarized pre {
    background: #073642;
}

// this is stupid
.pre-wrapper {
    display: table;
    table-layout: fixed;

    width: 100%;

    margin: 0;
    padding: 0;
}

// This allows for dynamically overflowed <code>. Must be wrapped in a block-type element
.code_fixed {
    direction: rtl;
    overflow: hidden;
}

.code_fixed code {
    position: relative;
    white-space: nowrap;
}
