// Forms

// Use an unordered list to mark up your groups of form fields.
.form-fields {
    list-style: none;
    margin: 0;
}

.form-fields > li {
    @include trailer;
}

// Labels
label, .label {
    display: block;
    margin-bottom: 0;
}

.text-input,
.select-input,
textarea {
    width: 100%;
    @include adjust-font-size-to(ms(1));
    padding: rhythm(.5, ms(1));
    background: #fff;
    box-shadow: inset 0 2px 0 $grey, inset 2px 0px 0 $grey, inset -2px 0px 0 $grey, inset 0px -2px 0 $grey;
    &:focus {
        box-shadow: inset 0 2px 0 $blue, inset 2px 0px 0 $blue, inset -2px 0px 0 $blue, inset 0px -2px 0 $blue;
    }
}

.text-input:disabled, .text-input:read-only {
    background: $light-grey;
}

.text-input.is-error,
.select-input.is-error,
textarea.is-error {
    box-shadow: inset 0 2px 0 $red, inset 2px 0px 0 $red, inset -2px 0px 0 $red, inset 0px -2px 0 $red;
}

legend {
    @include adjust-font-size-to(ms(4));
}

.error-list {
    background: $error-color;
    margin-left: 0;
    padding: 0 msem(4);
    @include rhythm(0, .5, .5, .5);
    color: $white;
}

select {
    width: 100%;
    border: 1px solid $grey;
}

.form-wrapper {
    @include breakpoint($bp-medium) {
        max-width: 28em;
    }
}

.form--fav {
    display: inline-block;
    .form--fav__label {
        display: inline-block;
        line-height: .75em;

        input[type=submit] {
            display: none;
        }
    }

    .fav-added {
        color: $success-color;
        padding: 2px;
        &:hover {
            color: $white;
            background: $error-color;
            &:after {
                font-size: .75em;
                content: "Remove"
            }
        }
    }

    .fav-normal {
        color: $light-grey;
        padding: 2px;
        &:hover {
            color: $white;
            background: $success-color;
            &:after {
                font-size: .75em;
                content: "Add"
            }
        }
    }
}
