// Forms

.form-fields > li {
    margin-top: 1em;
}

.form-wrapper {
    @include breakpoint($bp-medium) {
        max-width: 28em;
    }
}

.form--inline {
    display: inline-block;
}

input.is-error,
select.is-error,
textarea.is-error {
    background: $light-red;
    border: 1px solid $dark-red;
    box-shadow:
        inset 0 2px 0 $red,
        inset 2px 0px 0 $red,
        inset -2px 0px 0 $red,
        inset 0px -2px 0 $red;
}

.error-list {
    background: $error-color;
    margin-left: 0;
    padding: 0 2em;
    list-style-type: disc;
    color: $white;
    li {
        @include padding-y(.25em);
    }
}

.js-fav label {

    display: inline-block;
    line-height: .75em;

    button[type=submit] {
        display: none;
    }
}

.fav-added {
    color: $success-color;
    padding: 2px;
    &:hover {
        color: $error-color;
    }
}

.fav-normal {
    color: $light-grey;
    padding: 2px;
    &:hover {
        color: $success-color;
    }
}
