html {
    background-color: mix(#ffffff, $light-grey, 50%);
    margin-bottom: 2em;
}

main {
    max-width: 60em;
    margin: 0 auto;
    padding: ms(2) ms(-2);

    background-color: $white;
    @extend %clearfix;
    position: relative;

    @include breakpoint($bp-small) {
        padding: ms(3);
        border-radius: 5px;

    }

    @include breakpoint($bp-medium) {
        margin-top: -6em;
    }
}

main > p {
    max-width: 40em;
}

nav {
    background-color: $text-color;
    box-shadow: 0px 5px 5px tint($grey, 50%);

    @include breakpoint($bp-medium) {
        padding-bottom: 6em;
    }
}

svg {
    fill: currentColor;
}

p {
    margin-top: 1em;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus{
        color: $link-interaction-color;
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
}

// Page header
h1 {
    color: $hal-cyan;
    font-weight: bold;

    margin-top: .5em;
    margin-bottom: 1em;

    strong, b {
        color: tint($hal-cyan, 50%);
    }
}

// Section header
h2 {
    color: $bright-blue;

    margin-top: .5em;
    margin-bottom: .5em;
}

// Label header
h4 {
    margin-top: .75em;
    margin-bottom: 0;
}

h3, h5, h6 {
    margin-top: .75em;
    margin-bottom: .25em;
}

h6 {
    font-weight: bold;
}

pre, code {
    font-family: menlo, monospace, sans-serif;

    color: $red;
    background: $light-grey;
    margin: 0;
    padding: ms(-11);
    text-align: left;
}

code {
    padding: ms(-9);
}

pre {
    white-space: pre;
    word-wrap: normal;
    // overflow-x: auto;
}

blockquote {
    border-left: 4px solid $light-grey;
    color: tint($text-color, 50%);
    font-size: 90%;
    margin-left: .5em;
    padding: 0 15px;
}

time {
    white-space: nowrap;
}

ul, ol {
    margin-top: 1em;
}

// Remove vertical spacing from nested lists.
li {
    > ul,
    > ol {
         margin-bottom: 0;
     }
}

table {
    min-width: 17em;
    margin-top: 1em;
}

thead {
    border-bottom: 5px solid $dark-blue;
    th {
        text-align:left;
    }
}

tbody tr {
    font-size: .85em;
    border-bottom: 1px dotted $light-grey;
    &:last-child {
        border-bottom: 0;
    }
}

// reset back to normal, since scales sets this to center.
[colspan] {
    text-align: left;
}
