// Spacing
h1, h2, h3, h4, h5, h6 {
    @include trailer;
}

// Page header
h1 {
    font-weight: bold;
}

// Section header
h2 {
    color: $bright-blue;
}

// Label header
h4 {
    margin: 0;
}

.header--sub {
    margin: 0;
    font-size: .75em;
}
