// Links

// Set colors in _settings.scss.
a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus{
        color: $link-interaction-color;
        text-decoration: underline;
    }
}
