// Normal-ass bulleted list
.list--bullet {
    margin-left: 1.5em;
    list-style-type: disc;
    li {
        margin-top: .1em;
    }
}

// Legend list
.list--legend {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > * {
        flex: 1;
    }

    > :first-child {
        flex: 0 0 auto;
    }
}
