
.t5     { width: 5% !important }
.t10    { width:10% !important }
.t15    { width:15% !important }
.t20    { width:20% !important }
.t30    { width:30% !important }
.t40    { width:40% !important }
.t50    { width:50% !important }
.t60    { width:60% !important }
.t70    { width:70% !important }
.t80    { width:80% !important }
.t90    { width:90% !important }

.t33    { width:33.333% !important }
.t66    { width:66.666% !important }

.table--bodied {
    tbody {
        tr {
            border-bottom: 1px dotted $light-grey;
        }

        &:last-child {
            tr:last-child {
                border-bottom: 0;
            }
        }
    }
}

th.table-mid-header {
    background: $bright-blue;
    color: $white;

    font-size: 1.25em;
    font-weight: bold;

    padding: .5em;

    a {
        color: $white;
    }
}
