.cards, .cards--dual {
    @include leader();
    @include trailer();

    @include breakpoint($bp-medium) {
        display: flex;
        flex-wrap: wrap;

        > li {
            flex: 0 0 auto;
            width: 47%;

            &:nth-child(2n+2) {
                margin-left: 35px;
            }
        }
    }
}

.cards {
    @include breakpoint($bp-large) {
        > li {
            width: 31%;

            // reset style from medium breakpoint
            &:nth-child(2n+2) {
                margin-left: 0;
            }

            &:nth-child(3n+2),
            &:nth-child(3n+3) {
                margin-left: 30px;
            }
        }
    }
}

.cards--baby > li {
    width: 100%;
    @include adjust-font-size-to(ms(-1));
    @include trailer(2);
}

.card, .card--baby {
    margin-bottom: ms(1);
    box-shadow: 0 0 0 8px $light-grey;
    position: relative;
}

.card__header {
    > h4 {
        // margin: 0;

        // because css is stupid garbage bullshit
        margin: .01em;
        padding: ms(-10);
    }

    padding: ms(-5) 0;
    padding-top: 0;

    background-color: $light-grey;
}

.card__details {
    background: $white;
    padding: ms(-8) ms(-5);

    .error-list {
        @include adjust-font-size-to(ms(-1));
    }

    .alert-bar--success {
        @include adjust-font-size-to(ms(-1));
        margin-bottom: ms(-1);
    }
}

.card__details li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: ms(3);
}

.card__details--divided > ul > li {
    border-top: 4px solid $light-grey;
    &:first-child {
        border-top: 0;
    }
}

.js-data-overload {
    display: none;
}

.card__details code {
    padding: 0;
}

.card__details .split {
    margin-bottom: 0;
}

.card__header .icon--link {
    float: right;
}

.card__header .icon--link + .rollback {
    padding: 0 .4em;
}

.rollback {
    float: right;
}

.rollback .icon {
    transition: all .9s ease;
}

.rollback:hover .icon {
    transform: rotate(-360deg);
}

/* env specific colors for push cards and push/build boxes */
.card--test-aws,
.card--test {
    box-shadow: 0 0 0 8px $hal-blue;
    .card__header {
        background-color: $hal-blue;
        a, h4 { color: $white }
    }
}

.card--beta-aws,
.card--beta {
    box-shadow: 0 0 0 8px $hal-cyan;
    .card__header {
        background-color: $hal-cyan;
        a, h4 { color: $white }
    }
}

.card--prod-aws,
.card--prod {
    box-shadow: 0 0 0 8px $hal-red;
    .card__header {
        background-color: $hal-red;
        a, h4 { color: $white }
    }
}
