.flex-box-wrapper {
    background-color: tint($light-grey, 50%);
    overflow: hidden;
    display: block;

    // Must inverse the padding on the containing element
    @include margin-x(ms(2) * -1);
    margin-bottom: ms(-2) * -1;

    @include breakpoint($bp-small) {
       @include margin-x(ms(3) * -1);
        margin-bottom: ms(3) * -1;
    }

    @include breakpoint($bp-medium) {
       display: flex;
    }
}

.flex-box {
    @include leader();
    @include margin-x(1em);

    @include padding-x(msem(5));
    @include padding-y(msem(1));

    background-color: #fff;
    flex: 1;

    @include breakpoint($bp-medium) {
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
    }
}

.box-roundy {
    @include border-radius(5px);
}

.fav-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.fav-box {
    box-shadow: 0 0 0 2px $light-grey;
    font-size: .75em;
    flex: 0 1 auto;
    margin: .5em;
    width: 80%;

    @include breakpoint($bp-small) {
        width: 18em;
    }

    h5 {
        background: $light-grey;
        padding: .3em;

        font-weight: bold;
        line-height: 110%;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p { margin: 0; padding: 0 .3em; }
}
