.flex-box-wrapper {
    background-color: tint($light-grey, 50%);
    overflow: hidden;
    display: block;

    // Must inverse the padding on the containing element
    @include margin-x(ms(2) * -1);
    margin-bottom: ms(-2) * -1;

    @include breakpoint($bp-small) {
       @include margin-x(ms(3) * -1);
        margin-bottom: ms(3) * -1;
    }

    @include breakpoint($bp-medium) {
       display: flex;
    }
}

.flex-box {
    @include leader();
    @include margin-x(1em);

    @include padding-x(msem(5));
    @include padding-y(msem(1));

    background-color: #fff;
    flex: 1;

    @include breakpoint($bp-medium) {
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
    }
}

.box-roundy {
    @include border-radius(5px);
}

.fav-box-wrapper {
    @include breakpoint($bp-medium) {
       display: flex;
       flex-wrap: wrap;
    }
}

.fav-box {
    flex: 1;
    margin: 0;

    @include breakpoint($bp-medium) {
        min-width: 28%;
        max-width: 28%;
    }

    @include leader();
    @include margin-x(1em);

     h5 {
        font-weight: bold;
        line-height: 120%;
        margin: .25em 0;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
