.flex-box-wrapper {
    background-color: tint($light-grey, 50%);
    overflow: hidden;
    display: block;

    // Must inverse the padding on the containing element
    @include margin-x(ms(2) * -1);
    margin-bottom: ms(-2) * -1;

    @include breakpoint(33em) {
       @include margin-x(ms(3) * -1);
        margin-bottom: ms(3) * -1;
    }

    @include breakpoint(40em) {
       display: flex;
    }
}

.flex-box {
    @include border-radius(5px);
    @include leader();
    @include margin-x(0);

    @include padding-x(msem(5));
    padding-top: msem(1);
    padding-bottom: msem(1);

    background-color: #fff;
    flex: 1;

    @include breakpoint(40em) {
        &:nth-child(odd) {
            margin-right: 1em;
        }

        &:nth-child(even) {
            margin-left: 1em;
        }
    }
}
