.github-pr--closed {
    color: #c00000;
}

.github-pr--open {
    color: #00c92c;
}

.github-pr {
    font-size: .6em;

    &.github-pr--owner .pr-label {
        background-color: rgb(250, 240, 210);
    }
}

// Stolen directly from GitHub's css.
.pr-label {
    padding: .35em;
    background-color: rgb(232, 240, 248);
    color: rgb(51, 100, 121);

    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

    .pr-source {
        color: rgb(89, 138, 159);
    }
}
