[role="main"] {
    max-width: 60em;
    margin: 0 auto;
    padding: ms(2) ms(-2);

    background-color: $white;
    @extend %clearfix;
    position: relative;

    @include breakpoint($bp-small) {
        padding: ms(3);
        @include border-radius(5px);

    }

    @include breakpoint($bp-medium) {
        margin-top: -5em;
    }
}

main > p {
    max-width: 40em;
}
