.icon {
    position: relative;
    width: 1em;
    height: 1em;
    display: inline-block;
    top: -1px;
}

.icon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon--success {
    color: $success-color;
}
.icon--success-inverse {
    color: $white;
    background: $success-color;
    padding: 4px;
}

.icon--error {
    color: $error-color;
}
.icon--error-inverse {
    color: $white;
    background: $error-color;
    padding: 4px;
}

.icon--info {
    color: $info-color;
}
.icon--info-inverse {
    color: $white;
    background: $info-color;
    padding: 4px;
}

.icon--warning {
    color: $warning-color;
}
.icon--warning-inverse {
    color: $white;
    background: $warning-color;
    padding: 4px;
}
