/*
CUSTOM OVERRIDES ONLY

see node_modules/tablesaw/dist/stackonly/tablesaw.stackonly.scss for full styles
 */

main {
    @include tablesaw-stack($bp-medium);
}

.tablesaw-stack {

    .js-toggle-container {
        display: none;
        @include breakpoint($bp-medium) {
            display: block;
        }
    }

    .tablesaw-collapse {
        @include breakpoint($bp-medium) {
            display: none;
        }
    }

    .table-priority-45 {
        @include breakpoint($bp-medium) {
            display: none;
        }
        @include breakpoint(45em) {
            display: table-cell;
        }
    }
    .table-priority-50 {
        @include breakpoint($bp-medium) {
            display: none;
        }
        @include breakpoint(50em) {
            display: table-cell;
        }
    }
    .table-priority-55 {
        @include breakpoint($bp-medium) {
            display: none;
        }
        @include breakpoint(55em) {
            display: table-cell;
        }
    }
}

@media (max-width: $bp-medium) {
    .tablesaw-stack {
        thead {
            display: none;
        }

        tbody {
            tr {
                border-bottom: 0;
            }

            td:last-child {
                margin-bottom: 2em;
            }

            margin-top: 2.5em;
        }

        .table-mid-header {
            margin: 0;
        }

        &.table--spacing-large th,
        &.table--spacing-large td {
            padding: .25em;
        }

        &.table--spacing-medium th,
        &.table--spacing-medium td {
            padding: .15em;
        }

        .event-log--error {
            color: $text-color;
        }

        tbody {
            tr:nth-of-type(odd) {
                background-color: transparent;
            }

            td:nth-child(even),
            th:nth-child(even) {
                background-color: $light-grey;
            }
        }

        .tablesaw-cell-content label {
            display: inline-block;
        }
    }
}

@media (min-width: $bp-medium) {
    .tablesaw-stack {
        td.tr {
            text-align: right;
        }
        td.tl {
            text-align: left;
        }
    }
}
