// Build Start Tabs
.js-tab-active {
    display: block;
}

// Build Start Styles
.js-search-query,
.js-build-warning {
    display: none;
}

.js-search-drop {
    position: absolute;
    background-color: #fff;
    border: 1px solid $blue;
    z-index: 100;
    display: none;
    overflow: auto;
    max-height: 300px;
}

.js-search-item.js-search-item-display {
    display: block;
}
.js-search-item.js-search-item-hidden {
    display: none;
}

.js-search-results {
    > li {
        margin-bottom: 0;
        padding-left: msem(0);
    }

    li:nth-child(odd) {
        background-color: lighten($bright-blue, 35%);
    }

    li:hover {
        background-color: $highlight-color;
        cursor: pointer;
    }
    margin-bottom: 0;
}

// Add Repository Github Helpers
.js-form-toggle {
    display: block;
}
.js-form-error {
    color: red;
    margin-bottom: 0;
}

// Add Deployments
.js-add-deployment__form {
    display: none;
}

// Server card - extra data toggle
.js-overloader-parent p {
    margin: 0;
    font-size: ms(-3);
}

// Application Status - Deployment Pools
.js-pool-views {
    display: none;
}

