// Build Start Tabs
.js-tab-active {
    display: block;
}

// Build Start Styles
.js-search-query,
.js-build-warning {
    display: none;
}

.js-search-container {
    position: relative;
}

.js-search-drop {
    background-color: #fff;
    border: 1px solid $blue;

    display: none;
    overflow: auto;
    position: absolute;
    z-index: 100;

    max-height: 300px;
    width: 100%;
}

.js-search-item {
    &.js-search-item-display {
        display: block;
    }
    &.js-search-item-hidden {
        display: none;
    }
}
.js-search-results {
    > li {
        margin-bottom: 0;
        padding-left: .25em;

        &.js-search-item-display:nth-child(odd) {
            background-color: lighten($bright-blue, 35%);
        }

        &:hover {
            background-color: $highlight-color !important;
            cursor: pointer;
        }
    }

    margin-bottom: 0;
}

.js-credentials-form [data-type-specific],
.js-targets-form [data-type-specific] {
    display: none;

}

.js-event-logs {
    @include breakpoint($bp-medium) {
        th:nth-child(1) { width: 15%; }
        th:nth-child(2) { width: 15%; }
        th:nth-child(4) { width: 15%; }
    }

    @include breakpoint($bp-large) {
        th:nth-child(1) { width: 10%; }
        th:nth-child(2) { width: 15%; }
        th:nth-child(4) { width: 10%; }
    }
}

