.radio-grid__env {
    text-align: center;
}

.radio-grid--form {
    margin-left: 0;
}

.radio-grid,
.radio-grid--form {
    overflow: hidden;
}

.radio-grid > li,
.radio-grid--form > li {
    width: 100%;

    @include breakpoint(40em) {
        &:nth-child(odd) {
            @include grid-span(1, 1, $grid: 2, $gutter: .1);
            clear: left;
        }

        &:nth-child(even) {
            @include grid-span(1, 2, $grid: 2, $gutter: .1);
            clear:right;
        }
    }
}

.radio-grid > li {
    @include breakpoint(60em) {
        &:nth-child(4n+1) {
            @include grid-span(1, 1, $grid: 4, $gutter: .1);
            clear: left;
        }

        &:nth-child(4n+2) {
            @include grid-span(1, 2, $grid: 4, $gutter: .1);
        }

        &:nth-child(4n+3) {
            @include grid-span(1, 3, $grid: 4, $gutter: .1);
        }

        &:nth-child(4n+4){
            @include grid-span(1, 4, $grid: 4, $gutter: .1);
        }
    }
}

.radio-grid,
.radio-grid--form {
    li.full {
        width: 100%;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        border: 1px solid $light-grey;
        transition: background-color 1s ease;
        padding: msem(-4);
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    input[type="radio"]:checked + label {
        background-color: $highlight-color;
    }
}
.radio-grid--form li {
    margin-bottom: msem(1);
}
