.search-filter {
    margin-bottom: 1em;
}
.search-filter .btn {
    margin-top: .5em;
}

@include breakpoint($bp-large) {
    .search-filter {
        display: flex;
        flex-direction: row;
    }
    .search-filter .btn {
        margin: 0 0 4px 4px;
    }
}
