.tabs {
    margin-top: 1.5em;
    margin-bottom: 0;
    @extend %clearfix;

    > li {
        float: left;
        padding: ms(-2) ms(0);
        margin: 0;
        background-color: $light-grey;
        transition: all 0.2s ease-in-out;

        a {
            color: $grey;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .active {
        background-color: $blue;

        a {
            color: $white;
        }
    }
}

.tab-text {
    display: none;

    @include breakpoint(60em){
        display: inline-block;
    }
}

.tab {
    display: none;
}

.tab-content {
    border: 2px solid $blue;
    padding: ms(0);
    margin-bottom: ms(0);
}
