{% extends "user/user.twig" %}

{% set page_title = 'Edit Profile: '~ldapUser.firstName~' '~ldapUser.lastName %}

{% block name %}
    <input class="text-input" type="text" value="{{ getUsersActualName(profileUser) }}">
{% endblock %}

{% block actions %}
    <input class="btn" type="submit" value="Save">
    <a href="{{ urlFor('user', {'id': profileUser.id}) }}">Cancel</a>
{% endblock %}

{% block content %}
<form method="post">
    {{ parent() }}
</form>
{% endblock %}
