{% extends "user/user.twig" %}

{% set isSelf = (currentHalUser.id == user.id) %}
{% set name = ldapUser ? ldapUser.firstName ~ ' ' ~ ldapUser.lastName : user.name %}
{% set isEditing = true %}

{% set page_title = 'Edit Profile: ' ~ name %}

{% block name %}
    <h2>Name</h2>
    <input class="text-input" type="text" value="{{ getUsersActualName(user) }}">
{% endblock %}

{% block actions %}
    <input class="btn" type="submit" value="Save Profile">
    <a class="secondary-action" href="{{ urlFor('user', {'id': user.id}) }}">Cancel</a>
{% endblock %}

{% block content %}
<form method="post">
    {{ parent() }}
</form>
{% endblock %}
