[class*="cards"] {
    @extend %clearfix;
}

.cards__baby > li{
    width: 100%;
    @include adjust-font-size-to(ms(-1));
    @include trailer(2);
}

.cards > li{
    @include breakpoint(40em) {
        &:nth-child(odd) {
            @include grid-span(1, 1, $grid: 2, $gutter: .1);
            clear: left;
        }

        &:nth-child(even) {
            @include grid-span(1, 2, $grid: 2, $gutter: .1);
            clear:right;
        }
    }

    @include breakpoint(60em) {
        &:nth-child(3n+1) {
            @include grid-span(1, 1, $grid: 3, $gutter: .1);
            clear: left;
        }

        &:nth-child(3n+2) {
            @include grid-span(1, 2, $grid: 3, $gutter: .1);
        }

        &:nth-child(3n+3) {
            @include grid-span(1, 3, $grid: 3, $gutter: .1);
            clear: right;
        }
    }
}

.card, .card__baby {
    @include padding-x(msem(-1));
    @include rhythm(0,.25,.25,1);
    box-shadow: 0 0 0 8px $light-grey;
    position: relative;
}

.card__header {
    background-color: $light-grey;
    margin: -.375em -.77778em 0 -.77778em;
    @include padding-x(msem(-1));
    padding-bottom: msem(-3);
}

.card__details {
    background: $white;
    @include rhythm(.5,0,0,0);
}

.rollback .icon {
    transition: all .9s ease;
}

.rollback:hover .icon {
    transform: rotate(-360deg);
}
