//
// Color variables
///
$text-color: #070103;
$grey: #888;
$light-grey: #e5e5e5;
$white: #ffffff;

$bright-blue: #4cb1dd;
$blue: #236298;
$dark-blue: #01002b;

$red: #d63620;

$orange: #ff7c00;
$dark-orange: #cc6300;

$yellow: #e0a63a;
$light-yellow: #fafad2;

$warning-color: $orange;
$error-color: $red;
$success-color: #00c92c;

$highlight-color: $yellow;

//
// Link state colors.
///
$link-color: $blue;
$link-interaction-color: tint($blue, 20%); // :hover, :active, :focus

//
// Highlight colors for when you select text on the page
///
$selection-bg-color: $blue;
$selection-text-color: $white;

/**
 * 2001 Inspiration References:
 * http://fc08.deviantart.net/fs27/f/2008/112/b/0/HAL_9000_Interface_Sreensaver_by_KoKaine.png
 * http://ministryoftype.co.uk/words/article/2008_a_type_odyssey/
 * http://ministryoftype.co.uk/images/files/type-odyssey-desktop.jpg
 * http://i.ytimg.com/vi/XDi2s5Vhjts/maxresdefault.jpg
 */
$hal-purple: rgb(180, 120, 175);
$hal-cyan: rgb(70, 120, 145);
$hal-red: rgb(140, 55, 70);
$hal-blue: rgb(65, 130, 215);
$hal-green: rgb(15, 120, 50);
