//
// Color variables
///
$text-color: #070103;
$grey: #5d4c5d;
$light-grey: #d7cbd7;
$white: #ffffff;
$bright-blue: #4cb1dd;
$blue: #236298;
$dark-blue: #01002b;
$red: #d63620;
$yellow: #e0a63a;
$warning-color: #ff7c00;
$error-color: $red;
$success-color: #00c92c;
$highlight-color: $yellow;

//
// Link state colors.
///
$link-color: $blue;
$link-interaction-color: tint($blue, 20%); // :hover, :active, :focus

//
// Highlight colors for when you select text on the page
///
$selection-bg-color: $blue;
$selection-text-color: $white;