html {
    background-color: $white;
}

[role="banner"] {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: $white;
    @include padding-leader(.5);
}

.logo {
    color: $white;
    display: block;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.logo img {
    width: 100px;
    margin-right: msem(1);
    display: inline-block;
}

.logo h1 {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.sub-heading {
    margin-bottom: 0;
    @include padding-trailer();
}

.branding-container {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 ms(-2);

    @include breakpoint(32em) {
        padding: 0 ms(1);
    }
}

[role="main"] {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 ms(-2);
    @include rhythm(0,1,.5,0);
    background-color: $white;
    @extend %clearfix;
    position: relative;

    @include breakpoint(32em) {
        padding: 0 ms(1);
        @include rhythm(0,1,.5,0);
    }
}

p {
    max-width: 40em;
}

[role="contentinfo"] {
    @include adjust-font-size-to(ms(-1));
    max-width: 77.2em;
    margin: 0 auto;
    padding: 0 ms(-2);
    color: $white;
    background-color: $text-color;
    @include rhythm(0,1,.05,0);

    @include breakpoint(32em) {
        padding: 0 ms(1);
        @include rhythm(0,1,.05,0);
    }
}

.form-wrapper {
    @include breakpoint(37.125em) {
        max-width: 28em;
    }
}

.deployment-form {
    clear: right;
}

.mbn {
    margin-bottom: 0 !important;
}

%circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    border-radius: 50%;
}

.circle-red::before {
    @extend %circle;
    content: '';
    background: red;
}

.circle-orange::before {
    @extend %circle;
    content: '';
    background: orange;
}

.circle-green::before {
    @extend %circle;
    content: '';
    background: green;
}
