.icon {
    position: relative;
    width: 1em;
    height: 1em;
    display: inline-block;
    top: 3px;
}

.icon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin status {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .25em;
}

[class*="status-before--"] {
    &:before {
        @include status;
    }
}

[class*="status-after--"] {
    &:after {
        @include status;
    }
}

.icon--success {
    color: $success-color;
}
.icon--success-inverse {
    color: $white;
    background: $success-color;
    padding: 4px;
}

.icon--error {
    color: $error-color;
}
.icon--error-inverse {
    color: $white;
    background: $error-color;
    padding: 4px;
}

.icon--info {
    color: $info-color;
}
.icon--info-inverse {
    color: $white;
    background: $info-color;
    padding: 4px;
}

.status-before--unknown, .status-after--unknown {
    &:before {
        background-color: $grey;
    }
    &:after {
        background-color: $grey;
    }
}

.status-before--success, .status-after--success {
    &:before {
        background-color: $success-color;
    }
    &:after {
        background-color: $success-color;
    }
}

.status-before--error, .status-after--error {
    &:before {
        background-color: $error-color;
    }
    &:after {
        background-color: $error-color;
    }
}

.status-before--warning, .status-after--warning, .status-before--other, .status-after--other {
    &:before {
        background-color: $warning-color;
    }
    &:after {
        background-color: $warning-color;
    }
}

.status-before--thinking, .status-after--thinking {
    &:before {
        background: linear-gradient(90deg, $success-color 50%, $error-color 50%);
        animation:spin 2s infinite;

    }
    &:after {
        background: linear-gradient(90deg, $success-color 50%, $error-color 50%);
        animation:spin 2s infinite;
    }
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
