@keyframes highlight{
    0%, 100%{
        background-color: none;
    }

    100%{
        background-color: $bright-blue;
    }
}

.js-error{
    color: $error-color;
}

.js-tab-active{
    display: block;
}

.js-search-item{
    display: none;

    li.selected{
      background-color: $yellow;
    }
}

.js-search-drop{
    overflow: auto;
}

.js-search-results {
    li{
        padding-left: msem(0);
    }

    li:nth-child(odd){
        background-color: lighten($bright-blue, 35%);
    }

    li:hover{
        background-color: $yellow;
        cursor: pointer;
    }

}

.js-form-toggle {
    display: block;
}

.js-hide-box{
    display: none;
}

.js-form-error {
    color: red;
    margin-bottom: 0;
}

.js-sortable-hidden {
    visibility: hidden;
    position:absolute;
}

#env-reorder tbody tr {
    cursor: move;
}

@import "js.tablesaw"
