.pr-selection code {
    font-size: 75%;
}

.pr-selection p {
    margin-bottom: auto;
}

.pr-selection span {
    font-style: bold;
    text-transform: uppercase;
}

.closed {
    color: #c00000;
}

.open {
    color: #00c92c;
}

.pr-smtxt{
  @include adjust-font-size-to(ms(-5));
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.pr-label{
    padding: msem(-5);
    background-color: lighten($blue, 55%);
    border-radius: 3px;
}
