.mbn {
    margin-bottom: 0 !important;
}

.mls {
    margin-left: 5px;
}

.trailer{
    @include trailer();
}

.leader{
    @include leader();
}

.fixed-size-label {
    display: inline-block;
    width: 7em;
}
