{% extends 'base.html.twig' %}

{% set page_title = "Admin Dashboard" %}

{% block content %}
    <h2>Admin Dashboard</h2>

    <ul>
        <li><a href="{{ urlFor('admin.repos') }}" title="Manage Repositories">Manage Repositories</a></li>
        <li><a href="{{ urlFor('environments') }}" title="Manage Environments">Manage Environments</a></li>
        <li><a href="{{ urlFor('users') }}" title="Manage Users">Users</a></li>
    </ul>

{% endblock %}
