{% extends 'base.html.twig' %}

{% set page_title = "Admin Dashboard" %}

{% block content %}
    <h2>Admin Dashboard</h2>

    <ul>
        <li><a href="{{ urlFor('repositories') }}">Manage Repositories</a></li>
        <li><a href="{{ urlFor('environments') }}">Manage Environments</a></li>
        <li><a href="{{ urlFor('users') }}">Users</a></li>
        <li><a href="{{ urlFor('admin.super') }}">Super Admin Dashboard</a></li>
    </ul>

{% endblock %}
