{% extends 'admin/admin.html.twig' %}

{% set page_title = "All Permissions" %}

{% block content %}
    <h2>All Permissions</h2>

    {% for repo, perms in permissions %}
        <h3>{{ repo }}</h3>
        <ul>
        {% for permission in perms %}
            <li>{{ permission.user.DisplayName }}, {{ permission.repo }}, {{ permission.env }}</li>
        {% endfor %}
        </ul>
    {%  endfor %}

{% endblock %}
