{% extends 'base.html.twig' %}

{% set page_title = "Super Admin Dashboard" %}

{% block content %}
    <h2>Super Admin Dashboard</h2>

    <h3>Server Information</h3>
    <div class="stat-group">
        <dl class="stat">
            <dt class="stat__title"><strong>Hostname</strong></dt>
            <dd class="stat__value">{{ servername }}</dd>
        </dl>
        <dl class="stat">
            <dt class="stat__title"><strong>Encryption key</strong></dt>
            <dd class="stat__value">Placeholder</dd>
        </dl>
    </div>

    <h3>Caching</h3>

    <h4>Doctrine Cache</h4>
    <a href="{{ urlFor('admin.super', {}, {clear_doctrine: 1}) }}" class="btn">Clear doctrine cache</a>

    <h4>Permissions Cache</h4>
    <a href="{{ urlFor('admin.super', {}, {clear_permissions: 1}) }}" class="btn">Clear permissions cache</a>

    <h3>Agent Status</h3>
    <p>TBD</p>

{% endblock %}
