{% extends 'base.html.twig' %}

{% set page_title = "Super Admin Dashboard" %}

{% block content %}
    <h2>Super Admin Dashboard</h2>

    <h3>Encryption key</h3>
    <p>Placeholder</p>

    <h3>Caching Actions</h3>
    <p>Placeholder</p>

    <h3>Caching Stats</h3>
    <p>Placheolder</p>


    <h3>Old Page Content</h3>
    <pre>{{ old_content|raw }}</pre>

{% endblock %}
