{% extends 'base.html.twig' %}

{% set page_title = "Groups" %}

{% block content %}
    <h2>Repository Groups</h2>

    <p>
        Repositories are organized into groups, commonly a team name or business unit. Select a group below
        to view the member repositories and to push code if you have permission.
    </p>

    {% if groups %}
        <ul class="block-list block-list--limit">
        {% for group in groups %}
            <li><a href="{{ urlFor('group', {'id': group.id}) }}">{{ group.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no repository groups.</p>
    {% endif %}

    <div>
        {# primary action #}
        {% if isAdmin %}
            <a class="btn" href="{{ urlFor('group.admin.add') }}">Add Group</a>
        {% endif %}
    </div>
{% endblock %}
