{% extends 'admin/admin.html.twig' %}

{% block content %}
    <ul>
        <li><b>Total Users:</b> {{ total_users }}</li>
        <li><b>Total Repositories:</b> {{ total_projects }}</li>
        <li><b>Total Pushes:</b> (not live yet)</li>
        <li><b>Production Pushes Today:</b> (not live yet)</li>
    </ul>
{% endblock %}
