{% set page_title = "Dashboard" %}
{% include 'common/htmltop.twig' %}

<p><a href="/a">Back to Arrangements</a></p>
<h2>Repositories in {{ arrangement }}:</h2>
<ul>
    {% for repository in repositories %}
        <li>
            <div>Name: <a href="/r/{{repository.ShortName}}">{{ repository.ShortName }} </a><div>
            <div>Description: {{repository.Description}}</div>
        </li>
    {% endfor %}
</ul>

{% include 'common/htmlbottom.twig' %}
