{% extends 'base.twig' %}

{% set page_title = "Access Denied" %}
{% set html_id = 'error-page' %}

{# remove nav #}
{% set show_navigation = false %}

{% block page_main %}
    <div class="terminal">
        <div class="terminal--border">
            <div class="terminal--border-inner">
                <div class="terminal__screen">
                    <div class="terminal__return"><a href="javascript:history.go(-1);">BACK</a></div>
                    <div class="terminal__header">MAXIMUM RESTRICTED ENTRY</div>
                    <span class="terminal__entry"></span>
                </div>
            </div>
        </div>

        <div class="terminal__footer">
            <div class="terminal__footer__inner">HAL 9000 SERIES TERMINAL</div>
        </div>

        <div class="terminal__text">{{ is_serious_business_mode ? block('nofunzone') : block('denied_message') }}</div>
    </div>

    <div class="star-1"></div>
    <div class="star-2"></div>
    <div class="star-3"></div>

{% endblock %}

{% block nofunzone %}
Access Denied.^1500

You do not have the correct permissions to access this page.^1500

Please contact an administrator for further details.^1500
{% endblock %}

{% block denied_message %}
Greetings, Dave.^1500

It seems you have arrived in a section not intended for your usage.^1000 I think you know what the problem is just as well as I do.^1500

Dave?^2000 Are you there?^1500

Just what do you think you're doing, Dave?
{% endblock %}
