<<<<<<< HEAD
<!DOCTYPE html>
<html>
 <head>
  <title>Hal</title>
 </head>
 <body>
  <p>Hello {{ account.givenname }}.</p>
  <ul>
   <li><a href="/admin">Admin</a></li>
   <li><a href="/pushMain">Push tool</a></li>
   <li><a href="/login">Logout</a></li>
  </ul>
 </body>
</html>
=======
{% set page_title = "Dashboard" %}
{% include 'common/htmltop.twig' %}
{% include 'common/header.twig' %}
{% include 'common/htmlbottom.twig' %}
>>>>>>> origin/master
