{% extends 'base.html.twig' %}
{% import "_partial/macros.twig" as macros %}

{% set page_title = 'Latest Release' %}

{% block content %}

    <h1>{{ page_title }}</h1>

    {{ block('latest_release_28') }}

    <h2>Past Releases</h2>
    <p>Check the following documentation sites for recent changes to Hal, or view past updates.</p>
    <ul class="list--bullet">
        <li><a href="http://git/hal/hal/releases">GitHub release notes</a></li>
        <li><a href="https://jira/projects/HAL?selectedItem=com.atlassian.jira.jira-projects-plugin:release-page&status=all">Jira version history</a></li>
        <li>
            Hal release notes
            {% include '_partial/help.release-notes.twig' %}
        </li>

    </ul>

{% endblock %}

{% block latest_release_28 %}
    <p>The latest release of Hal is <b>2.8</b>. It was deployed on Friday, Jan ??, 2016.</p>

    <h2>Changelog</h2>

    <h3>New Features</h3>
    <ul class="list--bullet">
        <li>
            tbd
        </li>
    </ul>

    <h3>User Experience (UX) Enhancements</h3>
    <ul class="list--bullet">
        <li>
            tbd
            <br><small>
                alt
            </small>
        </li>
    </ul>

    <h3>Bugs</h3>
    <ul class="list--bullet">
        <li>
            tbd
        </li>
    </ul>
{% endblock %}

{% block no_release %}
    <p>There are no release notes for the latest version.</p>
{% endblock %}
