{% extends 'base.twig' %}
{% import 'macros.twig' as macros %}

{% set page_title = 'Latest Release' %}

{% block breadcrumb_links %}
    <li><a href="{{ uriFor('help') }}">Help</a></li>
{% endblock %}

{% block content %}
    {{ block('latest_release_30') }}

    <h2>Past Releases</h2>
    <p>Check the following documentation for recent changes to Hal, or view past updates.</p>
    <ul class="list--bullet">
        <li><a href="http://github.com/hal-platform/hal/releases">GitHub.com release notes</a></li>
        <li>
            Hal release notes
            {% include 'help/partial.release_notes_history.twig' %}
        </li>
    </ul>

{% endblock %}

{% block latest_release_30 %}
    <p>The latest release of Hal is <b>3.0.0</b>. It was deployed on $Day, $Month ??, 2018.</p>

    <h2>Changelog</h2>

    <h3>New Features</h3>
    <ul class="list--bullet">
        <li>
            TBD.
            <blockquote>
                TBD. Enter more details here.
            </blockquote>
        </li>
    </ul>

    <h3>Enhancements</h3>
    <ul class="list--bullet">
        <li>TBD.</li>
        <li>TBD.</li>
    </ul>

    <h3>Bugs</h3>
    <ul class="list--bullet">
        <li>TBD.</li>
        <li>TBD.</li>
        <li>TBD.</li>
    </ul>

    <h3>Changes</h3>
    <ul class="list--bullet">
        <li>TBD.</li>
        <li>TBD.</li>
    </ul>
{% endblock %}

{% block no_release %}
    <p>There are no release notes for the latest version.</p>
{% endblock %}
