{% set page_title = "Login" %}
{% include 'common/htmltop.twig' %}
   <h1>HAL 9000 - Login</h1>
{% if error %}
   <p>{{ error }}</p>
{% endif %}
   <form action="/login" method="post"> 
    <fieldset>
     <legend>login</legend>
     <div><label for="username">username</label></div>
     <div><input type="text" id="username" name="username"></div>
     <div><label for="password">password</label></div>
     <div><input type="password" id="password" name="password"></div>
     <div><input type="submit" value="login"></div>
    </fieldset>
   </form>
{% include 'common/htmlbottom.twig' %}
