{% macro formErrors(errors) %}

    {% if errors %}
        <ul class="error-list">
            {% for field_name, field_errors in errors %}
                {% for error in field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

{% endmacro %}

{% macro hasError(errors, field) -%}
    {{- errors[field] ? '1' : '' -}}
{%- endmacro %}
