{% extends 'base.html.twig' %}
{% set js_components = ["queue"] %}

{% set page_title = "Queue" %}

{% block content %}
    <h2>Build and Push Queue</h2>

    {% include '_partial-job/pending-table.twig' %}

{% endblock %}
