{% extends 'base.twig' %}
{% set js_components = ["queue"] %}

{% set page_title = "Queue" %}

{% block content %}
    <h1>Build and Release Queue</h1>

    {% include '_partial-job/pending-table.twig' with {'pending': pending} only %}

    <p><a class="btn" href="{{ uriFor('queue.history.page1') }}">Queue History</a></p>

{% endblock %}
