{% extends 'base.html.twig' %}
{% set js_components = ["queue"] %}

{% set page_title = "Queue" %}

{% block content %}
    <h1>Build and Push Queue</h1>

    {% include '_partial-job/pending-table.twig' %}

{% endblock %}
