{% extends 'base.twig' %}
{% import "macros.twig" as macros %}
{% import 'macros.pagination.twig' as pagination %}

{% if is_today %}
    {% set js_components = ["queue"] %}
{% endif %}

{% set page_title = "Build and Release History" %}
{% set paginationblock = pagination.time_pagination(selected_date, 'queue.history') %}

{% block content %}
    <h1>Build and Release History</h1>

    {{ paginationblock }}

    {% include '_partial-job/pending-table.twig' with {'pending': pending, 'history_view': true} only %}

    {{ paginationblock }}

{% endblock %}
