{% extends 'base.html.twig' %}
{% import 'partials/pagination.twig' as pagination %}

{% set page_title = repo.description ~ " Push History" %}

{% block content %}
    <p><a class="btn--small btn--back" href="{{ urlFor('repository.status', {'id': repo.id}) }}">Back to Repository Status</a></p>

    <h2>Push History for <strong>{{ repo.description }}</strong></h2>

    {% include 'partials/push-table.twig' with {'pushes': pushes} %}

    {{ pagination.pagination(page, last, 'push.history', {'id': repo.id}) }}

{% endblock %}
