{% extends 'base.html.twig' %}

{% set page_title = 'Help' %}

{% block content %}
    <h2>Help - HAL 9000</h2>

    <div class="hero-video">
        <video src="/vid/hal.mp4" controls></video>
    </div>
{% endblock %}
