{% extends 'base.html.twig' %}

{% set page_title = 'Help' %}

{% block content %}
    <h2>Help - HAL 9000</h2>

    <div class="hero-video">
        <video controls autoplay loop>
            <source src="/vid/hal.mp4" type="video/mp4">
            <source src="/vid/hal.ogg" type="video/ogg">
        </video>
    </div>
{% endblock %}
