{% block flash %}
    {% if session.flash(true) %}
        {% for message in session.flash(false) %}

            {% set alerttype = 'alert-bar' %}
            {% if (message.type == 'error') %}{% set alerttype = 'alert-bar--error' %}{% endif %}
            {% if (message.type == 'success') %}{% set alerttype = 'alert-bar--success' %}{% endif %}
            {% if (message.type == 'warning') %}{% set alerttype = 'alert-bar--warning' %}{% endif %}

            <div class="{{ alerttype }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block messages %}
    {# GLOBAL NOTICE #}
    {% if notice %}
        <div class="alert-bar">
            <p>{{ notice|raw }}</p>
        </div>
    {% endif %}
    {# GLOBAL ERROR #}
    {% if error %}
        <div class="alert-bar">
            <p>{{ error|raw }}</p>
        </div>
    {% endif %}
{% endblock %}
