{# FLASH MESSAGES #}
{% block flash %}
    {% if session.flash(true) %}
        {% for message in session.flash(false) %}

            {% set alerttype = 'alert-bar' %}
            {% if (message.type == 'error') %}{% set alerttype = 'alert-bar--error' %}{% endif %}
            {% if (message.type == 'success') %}{% set alerttype = 'alert-bar--success' %}{% endif %}
            {% if (message.type == 'warning') %}{% set alerttype = 'alert-bar--warning' %}{% endif %}

            <div class="{{ alerttype }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{# GLOBAL MESSAGE #}
{% block messages %}
    {% if globalMessage() %}
        <div class="alert-bar">
            {{ globalMessage()|raw }}
        </div>
    {% endif %}
{% endblock %}
