{% extends 'base.html.twig' %}

{% set page_title = 'Add Environment' %}

{% block content %}
    <h2>Add a new environment</h2>

    <div class="form-wrapper">
        {% if errors %}
            <ul class="error-list">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="envname" maxlength="24" required value="{{ form.name }}" class="text-input">
                </li>
                <li>
                    {# primary action #}
                    <input class="btn" type="submit" value="Add Environment">

                    {# secondary actions #}
                    <a class="secondary-action" href="{{ urlFor('environments') }}">Cancel</a>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
