{% extends 'base.html.twig' %}

{% set page_title = "Environments" %}

{% block content %}
    <h2>Environments</h2>

    <ul class="block-list block-list--limit">
        {% for env in envs %}
        <li><a href="{{ urlFor('environment', {'id': env.id}) }}">{{ env.key }}</a></li>
        {% else %}
        <li>There are no environments.</li>
        {% endfor %}
    </ul>

    <div>
        {# primary action #}
        {% if isUserAdmin(currentUser) %}
            <a class="btn" href="{{ urlFor('environment.admin.add') }}">Add Environment</a>
        {% endif %}
        {% if envs %}
            {# secondary actions #}
            <a class="btn--action secondary-action" href="{{ urlFor('environment.admin.reorder') }}">Re-order Environments</a>
        {% endif %}
    </div>
{% endblock %}
