{% extends 'base.twig' %}

{% set page_title = 'Remove GitHub Authorization' %}

{% block content %}
    <div class="meta-box">
        <h1>Are you sure?</h1>

        <p>This will revoke GitHub authorization and disable updates to GitHub when you deploy a build.</p>

        <form method="post">
            <p>
                <button type="submit" class="btn btn--destructive">Remove</button>
                <a href="javascript:history.go(-1)">Cancel</a>
            </p>
        </form>
    </div>

{% endblock %}

