{% extends 'base.html.twig' %}

{% set page_title = "Repository Groups" %}

{% block content %}
    <h2>Repository Groups</h2>
    <p>Repositories are organized into repository groups, commonly a team name. Select a group below to view the member
    repositories and to push code if you have permission.</p>

    {% if arrangements %}
        <ul>
        {% for arrangement in arrangements %}
            <li><a href="/a/{{arrangement.ShortName}}">{{ arrangement.Name }} </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You don't currently have any repository groups.</p>
    {% endif %}
{% endblock %}
