{% extends 'base.html.twig' %}

{% set page_title = "Access Denied" %}

{% set name = getUsersActualName(currentUser) %}

{% block content %}
<div class="error-page">
    <div class="eye"></div>

    <div class="terminal">
        <div class="terminal__bg"><pre class="terminal__entry">
Greetings, {{ name }}.

It seems you have arrived in a section not intended for your usage.  I think you know what the problem is just as well as I do.

{{ name }}? Are you there?

Just what do you think you're doing, {{ name }}?
        </pre></div>
    </div>
</div>

{% endblock %}
