{% extends 'base.html.twig' %}

{% set page_title = 'Error' %}

{% set name = getUsersActualName(currentUser) %}

{% block content %}
<div class="error-page">
    <div class="eye"></div>

    <div class="terminal">
        <div class="terminal__bg"><pre class="terminal__entry">
An error has occured: {{ message }}

I am sorry this happened to you, {{ name }}.

The 9000 series has a perfect operational record. It can only be attributable to human error.
        </pre></div>
    </div>
</div>
{% endblock %}
