{% extends 'base.html.twig' %}

{% set page_title = 'Hello '~getUsersActualName(user) %}

{% block content %}

    <h2>Hello {{ getUsersActualName(user) }}</h2>

    <p>I'm Hal... introductions and salutations.</p>

{% endblock %}

{# ideas for this page:
    - list of the most recent pushes
    - "hot" or "active" repositories -> shortcuts right to their deployment page
    - Most recent builds/pushes triggered by this user and their status (and if they are still the latest deployment for that repo)
#}