{% extends 'base.html.twig' %}

{% set page_title = 'Help' %}

{% block content %}
    <h2>Help</h2>

    <h3>Permissions and support</h3>
    <p>For questions and permission requests.</p>
    <p><a href="mailto:ITTeamKeyMastersSupp@quickenloans.com">E-mail IT Team Keymasters Support</a></p>

    <h3>HAL 9000 bugs and feature requests</h3>
    <p>
        HAL 9000 is maintained by the Web Core team. All HAL 9000 work is tracked through the Github repository at <a href="http://git/web-core/hal/issues">http://git/web-core/hal</a>.
    </p>
    <p><a href="mailto:WebCore@quickenloans.com">E-mail Web Core</a></p>
{% endblock %}
