{% extends 'base.html.twig' %}

{% set page_title = "Login" %}

{% block content %}

    <h2 class="mbn">HAL 9000 Deployment System</h2>
    <p>It deploys code to other, less capable machines.</p>

    {% if errors %}
        <ul class="error-list">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ block('login_form') }}

{% endblock %}

{% block login_form %}
    <div class="form-wrapper">
        <form action="" method="post">
            <ul class="form-fields">
                <li>
                    <label for="username">Username</label>
                    <input class="text-input" type="text" id="username" name="username" autofocus>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input class="text-input" type="password" id="password" name="password">
                </li>
                <li>
                    <p><small>Please use your Active Directory credentials to login (your "windows password").</small></p>

                    <input class="btn" type="submit" value="Log In" name="submit">
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block dual_page %}
    <div class="dash-box-wrapper" style="background: transparent">

        <div class="dash-box">
            {{ block('login_form') }}
        </div>

        <div class="dash-box">
            <h4>## Today</h4>
            <ul>
                <li>
                    <strong>8</strong> Builds
                </li>
                <li>
                    <strong>2</strong> Pushes
                </li>
                <li>
                    <strong>18</strong> Active Users
                </li>
                <li>
                    <strong>5</strong> Active Projects
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
