{% extends 'base.html.twig' %}

{% set page_title = "Not Yet Implemented" %}

{% block content %}
    <div class="error-page">
        <h1>Well, shucks.</h1>
        <p>
            You've stumbled onto a page that hasn't been implemented yet. This means that there's nothing here yet, but
            we're working on adding it at some indeterminate point in the future. Better luck next time. Of course,
            you could always bribe an engineer and it might show up faster. Just sayin'.
        </p>
    </div>
{% endblock %}
