{% extends 'base.html.twig' %}

{% set page_title = "Deployment Servers" %}

{% block content %}

    <h2>Deployment Servers</h2>

    <div class="overflow-container">
        <table>
            <thead>
            <tr>
                <th>Hostname</th>
                <th>Environment</th>
            </tr>
            </thead>
            <tbody>
            {% for server in servers %}
                <tr>
                    <td><a href="{{ urlFor('server', {'server': server.name}) }}">{{ server.name }}</a></td>
                    <td>{{ server.environment.key }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
