{% extends 'base.kraken.twig' %}
{% import "_partial/macros.twig" as macros %}
{% import "_partial-form/macros.twig" as form_macros %}
{% set js_components = ["kraken.property"] %}

{% set page_title = "Add Property" %}

{% block content %}

    <h1>{{ page_title }} for <strong>{{ environment.name }}</strong></h1>

    <h4>Application</h4>
    <p>{{ application.name }}</p>

    <h4>Environment</h4>
    <p>{{ environment.name }}</p>

    <h2>Add Property</h2>
    {% embed "kraken/_partial-form/property.twig" %}
    {% endembed %}

{% endblock %}
